[2017-01-22 19:52] aquach commented on #331
Alternatively, since the errors are all because the token is invalid, is there a way to get updates on when tokens are invalidated fast enough so that we don't have to find out when we send those notifications?

[2017-01-26 19:49] psaravanan opened #333 "Delivered but not sent to device (IOS)"
I can able to sent Push notification to the device when IOS app is generated for development and installed on IOS devices.
But Push notification not sending to any IOS devices but Notification says its delivered when IOS app is generated for App store and installed on devices.

I don't know where to check the issue since notification record says its deliver and I also tried changing certificates.

[2017-01-26 20:25] jim0020 commented on #290
Still seeing this behavior.

[2017-01-30 10:21] Kris-Simpson commented on #333
+1 have the same issue

[2017-02-05 13:24] raghvendra opened #334 "Why does rpush adds content-available to aps dictionary"
Hello,

I am trying out rpush to send push notification to ios devices.

But, I see that even though I set rpush_notification's content_available to false, it adds "__rpush_content_available__ : true" to the _data_ attribute and it is available in the aps dictionary.

May I know why it is doing so? and what's the way to turn it off?

Thanks!

[2017-02-06 05:12] #334 closed

[2017-02-07 19:45] avolkovi commented on #147
any updates on this? It's been a year and a half and the patch in modis still isn't released... we ended up working around this by patching `Rpush.apns_feedback` to use `Rpush::Apns::App.all.select { |app| app.is_a?(Rpush::Client::Redis::Apns::App) }` instead of `Rpush::Apns::App.all`

[2017-02-07 21:01] antulik commented on #147
@avolkovi it's been a while, seems like i've given apps prefixed names like "ios_app" or "android_app" and search only by name instead of a class.

[2017-02-09 10:35] haslo commented on #147
Should be fixed now, with 3d7f0b3a1fcfad98587be8a86d5d61b7a4cb0d19 - I did close my PR, but not the issue, and nobody else did either...

@ileitch, you wanna close this issue?

[2017-02-15 03:50] NeoElit opened #335 "Reflection Api Hook for SenderId mismatch handling"
Is there any implemented hooks for GCM/FCM SenderId mismatch failures?

Note: Arises when client app registers with wrong client id (probably due to some dumb dev forgot replace test keys :P) and sends device token to server.
AFAIK, currently no way to verify token other than sending a dummy push and get this error.

[2017-02-16 07:15] raghvendra commented on #333
Yes, I too get the issue. If I reset the delivered to false and delivered_at to null, then it sends it.

[2017-02-17 17:12] sridharraman opened #336 "Notification to open link in browser"
I am trying to create notifications (iOS, Android) that, when clicked, open up a link in a browser. Is this possible using rpush? Or is there more of a native iOS/Android feature we have to look at?

[2017-02-19 01:56] claudioldf opened #337 "Hours exceptions"
Hi,

It is not exactly an issue, but an improvment.
I need to push notification between 8am and 10pm.
There is alread some feature/configuration available today? I could not find something like this on documentation.
Is it possible to you implement it?

Thank you.

[2017-02-20 11:48] aried3r commented on #337
I think this is out of scope for this gem. Scheduling and queuing is a responsibility in itself. I think you can come up with something using gems like [whenever](https://github.com/javan/whenever) and/or ActiveJobs. This is just an idea, not saying this will work for your scenario.

Good luck!

[2017-02-21 10:09] af23me commented on #170
For me problem was solved by using:
`brew update && brew upgrade openssl`

Also check with rvm:
`rvm osx-ssl-certs update all`

[2017-02-28 20:27] chadiso commented on #253
up

[2017-03-02 11:16] IevgenRagulin commented on #322
Is there a plan to add support for it?

[2017-03-03 04:47] kntmrkm commented on #327
How is this going?

[2017-03-03 08:23] kntmrkm commented on #327
I found what is problem.

version `2.7.0` does't restrict `net-http-persistence` version.

Check this commit.
https://github.com/rpush/rpush/commit/b8f18f00d2b3fbd866ab6df2531355d544832d79

version `2.9.0` will works fine with `net-http-persistence 2.9.4`.

[2017-03-03 15:26] alameenkhader opened #338 "Apps for multiple environments"
Recently I had to use two different certificates for production and demo environments for my app.

Can we have the ability to create apps for multiple environments?

[2017-03-03 18:21] chris commented on #338
You can create as many `Rpush::Apns2::App` (or whatever variant you need) instances as you like. We typically have at least 2 of these per platform, sometimes more (debug vs. release, adhoc vs. enterprise, and other variations). We then associate push tokens/registrations ID's with a particular `App`, so when you go to send a push you know which Rpush `App` to target.

[2017-03-04 03:17] chris opened #339 "notification_delivered not working for Apns2"
I'm using the latest code in master, and the Apns2 classes. I'm finding that the `notification_delivered` callback is not called for my notifications (yet they arrive on the device - usually). I've done a bit of logging/debugging and have found that `@delivered` is empty when being processed by `Batch.complete_delivered`. `Batch.mark_all_delivered` does indeed get called, and it sets `@delivered`

[2017-03-05 02:11] chris commented on #339
I also noticed that once I switched back to Apns, that the APNS feedback service started working (I hadn't gotten a single feedback item before, and now I've gotten a ton).

[2017-03-06 13:41] daniel-illi opened #340 "Error raised when handling signal 'USR2'"
We are running rpush 3.0.0
When I send the `USR2` signal to the worker, it writes a `NoMethodError` to the logfile instead of the [expected worker statistics](https://github.com/rpush/rpush/wiki/Signals):

[code]

[2017-03-06 18:33] petergzli opened #341 "Does Firebase Cloud Messaging work the same way as GCM?"
I'm using firebase to get the ID's, and was wondering if that ID is similar and can be used with the GCM wrapper?

[2017-03-06 20:37] bousquet commented on #341
Yes, see the thread on issue #284.

[2017-03-06 20:40] petergzli commented on #341
@bousquet Thank you! Looks like nothing changes. I'll close the issue.

[2017-03-06 20:40] #341 closed

[2017-03-07 09:32] jogiranjith opened #342 "Environment Validation"
validates :environment, presence: true, inclusion: { in: %w(development production sandbox) }

How can we remove the validation so that this environment works for staging enviroment.

[2017-03-07 10:25] #342 closed

[2017-03-07 10:33] SpiderRodriguez commented on #203
Same problem here

[2017-03-07 11:02] #337 closed

[2017-03-07 11:06] amaierhofer commented on #253
This is up to you. I think it is reasonable to place that kind of into an initializer.

The `connections` attribute refers to how many connections are used when sending messages to the appropriate push endpoint. More specific information for the APNS endpoint can be found in wiki.

[2017-03-07 11:06] #253 closed

[2017-03-10 13:26] af23me commented on #184
Hello,  did anyone succeed  with running  rpush daemon without rails ?
ping @casertap

[2017-03-13 14:43] Fivell commented on #339
@chris ,  did you manage somehow this problem?

[2017-03-13 17:17] chris commented on #339
@Fivell I just changed my code to use `Apns`, and do not yet have a fix for `Apns2`. From further testing and use now, I would consider `Apns2` in rpush to be unusable - we simply did not get consistent push notification delivery, and there are issues with the callbacks, plus there are no specs/tests for it. I'm hoping to circle back around and dig into this issue further, but at the moment I'm tr

[2017-03-13 20:42] Nattfodd commented on #339
Hey guys. There's a fix for it for a pretty long time  https://github.com/rpush/rpush/pull/332

It's not merged to master yet

[2017-03-13 23:10] aried3r commented on #339
@Nattfodd, have you been using it in production successfully? Then I guess we can merge it. We don't use APNs2 in our project, so I can't really say anything about it.

[2017-03-14 07:05] Fivell commented on #339
@Nattfodd , thanks for pointing to this PR , will try it until it merged

[2017-03-14 07:34] Nattfodd commented on #339
@aried3r we are testing it for a month or so in test environment, no issues have been found until now.

[2017-03-14 13:39] aried3r commented on #339
I have merged the fix by @Nattfodd, please use the master branch version and try it. I cannot verify myself.

[2017-03-14 14:53] Fivell opened #343 "70mb log file when using gem from master branch"
Hello, why this file needed ? https://github.com/rpush/rpush/blob/master/log/rpush.log

[2017-03-14 14:53] Fivell commented on #343
cc @amaierhofer

[2017-03-14 15:08] aried3r commented on #343
This was probably committed by accident, can be deleted and the `log/` directory added to `.gitignore` (unless it's expected to exists and not created if it isn't). However, I think we can't make the repository smaller for future clone operations, as this file now exists in the history and will always be there as long as it's reachable.

AFAIK you can only remove files permanently by rewriting the

[2017-03-14 15:26] Fivell commented on #343
@aried3r, because 3.0 is not released at the moment we use master branch, and our bundle directory is + 70 mb because of this

[2017-03-14 19:55] aried3r commented on #343
You can subscribe to #344 if you want where this will be fixed. I'm not sure exactly how bundler does it, but I guess if you specify a branch or git ref it will only download that ref instead of the whole repository + history, so this should fix your issue.

Thanks for reporting!

[2017-03-14 19:57] aried3r commented on #339
Closing this. Everyone, feel free to discuss this here or open another issue if this did not fix your issue.

[2017-03-14 19:57] #339 closed

[2017-03-14 19:59] aried3r commented on #336
I don't think you can do this with a simple payload of a notification. You'd have to handle the payload inside your app natively which could open a browser window. There's nothing we can do in rpush to help you with this feature.

You should be able to find a solution on StackOverflow. Best of luck!

[2017-03-14 19:59] #336 closed

[2017-03-14 20:00] aried3r commented on #327
We'll try to either correct the README to point people to only use git branches or tags until we can contact @ileitch to draft another release.

Closing since this issue is fixed, except it's not shipped yet.

[2017-03-14 20:00] #327 closed

[2017-03-15 12:16] MSchmidt commented on #343
Regarding this, why not release a 3.0 beta, so we don't need to pull the full repo?

[2017-03-15 12:48] aried3r commented on #343
I stand corrected, I checked the bundler source code and issues and from a quick glance it seems it does in fact download the whole repository. See https://github.com/bundler/bundler/issues/228 and https://github.com/bundler/bundler/issues/4556.

@MSchmidt, a beta is a good idea, but only @ileitch can cut a new release.

/cc @ileitch think we can have a beta release of 3.0.0?

[2017-03-16 08:41] Fivell commented on #339
@Nattfodd , sometimes exception crashes rpush
[code]

[2017-03-16 09:32] Nattfodd commented on #339
@Fivell is it related to the delivery status issue fix?

[2017-03-16 09:54] Fivell commented on #339
@Nattfodd, I don't know , did you notice something ?

[2017-03-16 10:15] Nattfodd commented on #339
@Fivell we use older version of APNS2 in our production (https://github.com/rpush/rpush/pull/315) and from time to time some threads with APNS2 applications crash. Rpush keeps working, in general, but notifications for these particular apps that have been crashed stop being delivering until complete rpush daemon restart. I've enabled debugging mode to watch what's going on when thread crashes, and

[2017-03-16 15:12] nathanpaul commented on #136
Any updates on this?

[2017-03-19 08:22] reiz opened #345 "Getting SSL errors"
Since a couple days I'm getting always this SSL errors:

[code]

any idea?

[2017-03-19 11:18] reiz commented on #345
Was my fault. I forgot to update the certificate in the rpush_apps table.

[2017-03-19 11:18] #345 closed

[2017-03-21 04:47] #338 closed

[2017-03-21 20:06] petergzli opened #346 "Firebase/GCM push is returning 401 error even though a curl request works as expected"
I believe I set up everything correctly, and trying to test with a simple one device registration ID push. However, I keep getting the 401 error even though I know for a fact the keys work, i.e. I do a regular curl on http://fcm.googleapis.com/fcm/send using the SAME server_key I set up for the Rpush::Gcm::App as well as the same registration ID I intended to send the message to. Because the curl

[2017-03-21 20:16] aried3r commented on #346
Which version of Rpush are you using?

On Tue, Mar 21, 2017, 21:06 petergzli <notifications@github.com> wrote:

[2017-03-22 10:53] #343 closed

[2017-03-22 21:04] petergzli commented on #346
I'm using rPush, 2.7.0 @aried3r the latest one.

[2017-03-23 11:28] NeoElit opened #347 "Auto switch APNS certificate based on rails env"
Is there any way to setup APNS certificate path & password that depend on Rails env?
Based on "Readme" I'll have to have different apps on each of different environments. Is it the recommended way or am I missing any better methods?

Also is it advisable to have the certificate password without any encryption in the database?

[2017-03-23 12:05] Nattfodd commented on #347
You can use Rpush::App names to quickly distinguish applications for a proper environment. For example:
[code]

[2017-03-23 14:10] NeoElit commented on #347
@Nattfodd Thanks, that will do.

[2017-03-23 14:10] #347 closed

[2017-03-23 14:13] aried3r commented on #346
I'm using Rpush 2.7.0 as well on a production server with FCM and it works without problems.

My only guess is that it's a configuration error, since it seems to connect to the FCM server just fine, but with a 401 HTTP code.

Can you please double check your configuration and check your logs as well for the full error message?

[2017-03-23 16:20] NeoElit commented on #347
@Nattfodd  Had one more doubt. Will rpush be copying the content from certificate file while creation of the app or does that certificate has to be at the mentioned location always?

[2017-03-23 16:33] NeoElit commented on #347
I can find certificate data from Rpush::Apns::App certificate column. Guess no need then.

[2017-03-23 17:33] petergzli commented on #346
Thanks for replying @aried3r

The logs return the same error, Rpush::DeliveryError, Unable to deliver notification 8, received error 401 (Unauthorized, check your App auth_key.)

The strange thing is when I do a curl request, it works 100%. So I don't think my keys/registration-id's are off. But maybe I'm setting the variables incorrectly?

The main server key is the Rpush::Gcm::App auth_key, corr

[2017-03-25 15:28] aried3r commented on #346
I'm using [Postman](https://www.getpostman.com) to test this, although it works just fine using Rpush.

I set two headers, according to the [docs](https://firebase.google.com/docs/cloud-messaging/server#auth) which [Rpush does as well](https://github.com/rpush/rpush/blob/ee32bdf3456f00d13d7c8ade28a6f6bf24257cb0/lib/rpush/daemon/gcm/delivery.rb#L145-L146).

The value of the `Authorization` header w

[2017-03-29 20:29] atebit opened #348 "Certificate has been revoked (Rails Console & Controller both)"
In the background process, this fails and I see the log tail, but I never get the notification to the phone. _(same error as below)_

I just ran the following in Heroku rails console and I get the same error log, except the notification makes it's way to the phone! _(confusing)_

[code]

In the controller I run `Rpush.delay.push` (which works) and in the console I ran `Rpush.push` (which worked)

[2017-03-29 20:59] chris commented on #348
I'd have to look closer at how the certificate setter works, but when we set our certs, we set it to the contents of the file, not to a file path, e.g.:

[code]

I'm guessing this is why you get the Airbrake one where it's saying it doesn't contain a cert and key, cuz what you're sending is probably just the path (examine the record in the DB after you save it - you should see the full content of

[2017-03-29 21:04] atebit commented on #348
@chris That makes sense, except in Heroku, I'm turning the PEM into a text string environment variable. See this blog post for example: http://www.beardedhacker.com/blog/2014/10/20/load-private-key-to-heroku/

So, the certificate could very well be the problem. The confusing part is definitely that it worked from the console and not the controller though...

[2017-03-29 21:11] chris commented on #348
Ah ok, I was thrown off by the name of the environment variable having "PATH" in it :) . So other than that, I'd select your .pem on your Mac in Finder and press space (for quick preview thing) and it should show you at least basic sanity check (i.e. is it valid in general, the dates of expiration, etc.). But then, you can use the technique in [this Stackoverflow post](https://stackoverflow.com/qu

[2017-03-29 21:19] atebit commented on #348
So, the .cer file shows me validitiy dates before/after (which are valid because I created it last night) but the .pem shows no data in Finder Preview, maybe that is corrupt or was generated incorrectly?

I'll run some tests on these files based on your stack overflow recommendation and respond with results.

[2017-03-29 21:34] atebit commented on #348
Ok @chris, I ran the PEM through the following command:
`$ openssl s_client -connect gateway.push.apple.com:2195 -cert production.pem -key production.pem`

this command responded with a fair amount of data, including these two lines which might be relevant:
[code]

[2017-03-29 22:44] chris commented on #348
@atebit it sounds like your .pem file is bad - if pressing spacebar on it in the Finder to do quick view doesn't show you anything, then I think it's corrupt/bad.

[2017-03-29 23:18] atebit commented on #348
So, I generated it "with password" following [the Wiki](https://github.com/rpush/rpush/wiki/Generating-Certificates) the first time.

This time I generated 'without password' and got the same issue.

Doesn't send from the controller or from Rpush.delay.push, but if I do it in console directly the notification goes through to my phone and still returns the error.

Have to take off for the evening o

[2017-03-30 16:52] chris commented on #348
@atebit here's something to try, use the "without password", but make sure you still configure it in Rpush with the password. I know ours has a password, but that I used the without password way (I hadn't even seen the with password way (I generated our .pem before starting to work with Rpush).

[2017-03-30 16:53] chris commented on #348
@atebit My last comment is probably not applicable, given you say you're having success sending from the console. How does the `App` lookup and the send differ between you doing it in the console and in the controller? Is there something you are configuring in the console that could be configured differently when it's run via the controller?

[2017-03-30 17:06] atebit commented on #348
That's the weird part @chris.

It still responds with the same error in console as it does in the logs but the push goes through. It is the same exact code, except in console I usually give rpush app a different name so it doesn't conflict.

Why it would go through with console but not in normal app execution is a bit beyond me. My guess is that console doesn't do a 500 when it breaks.

[2017-03-30 18:23] chris commented on #348
@atebit I'm at a bit of a loss - it seems really strange that you'd get a certificate revoked error, but actually have the push go through. Maybe that's allowed for sandbox environment or something (are you using sandbox or production APNS?). Only other thing I can think of to check is that your cert is actually the latest cert you have from Apple (e.g. it's not an older one that was still valid d

[2017-04-04 13:21] Michaelvilleneuve opened #349 "[Question] How to send Rich notifications ?"
From what I've seen it seems that all I need is to add specific data to the payload of the request. But there is very few documentation about it. Has anyone achieved this with Rpush ?
Thanks

[2017-04-05 09:52] thomasgallagher commented on #322
This would simplify things in the certificate creation department.

Happy to help out if anyone can give a steer on implementation?

[2017-04-06 03:47] atebit commented on #348
So, I removed the certifications and started over on Apple. Then I put the call to Rpush notification creation inside of an error handler and it seems to be working now. I'm going to continue to research this issue by tracing things through the Rpush functions and finding out the problem.
[code]

[2017-04-06 18:07] chris commented on #348
So are you still not receiving the pushes? Any logging from Rpush in the logs that's helpuful? I realize the code you pasted is what you're testing with, and this is super minor, but I've been doing:

[code]

I haven't tried calling `Rpush.push` from in the code, I normally just run a one time run from the command line when testing (in our staging/test and prod environments we of course run the da

[2017-04-06 18:17] atebit commented on #348
The only real difference I see between our examples is the alert being an object instead of just a single string and yours is a bit cleaner.

Does the object vs string make a difference in alert? I can do some tests around that as well.

The message definitely goes through to the phones.

The "Certificate has been revoked." error still shows in the logs though. That's what is so confusing to me..

[2017-04-06 18:21] chris commented on #348
@atebit ah, ok, if you are getting the notification, then ya, all the code parts don't seem to matter. The `alert` format can be done multiple ways, so if you just have a message all the time, then it's fine how you have it. We sometimes use a title too, so for example in our code, we typically have something more equivalent to:
[code]

Unfortunately at this point, all I can suggest is debugging t

[2017-04-06 18:30] atebit commented on #348
That makes sense to have the title there as well for certain notifications. Good to know that's how you structure it.

I'll trace through the Rpush code and see where it's breaking down and try to reply on this thread with a fix if I find one.

[2017-04-07 07:18] lluis-sancho commented on #333
We have the same issue.

[2017-04-11 15:06] gregblake opened #350 "APNS2 Support in Version 2.7.0 and 3.0.0"
I'm curious about the road map for APNS2 support, and am hoping someone can provide additional insight on this.

According to the [readme](https://github.com/rpush/rpush/blob/a49f714c74743068d496c0c7a69a7040986e7254/README.md#create-an-app--notification), you can replace `Rpush::Apns::App` with the new API `Rpush::Apns2::App`. This looks to be incorrect on version 2.7: using `Rpush::Apns2::App` on

[2017-04-11 15:14] soulfly commented on #350
Here it is
https://github.com/rpush/rpush/blob/master/CHANGELOG.md

[2017-04-11 16:45] gregblake commented on #350
Thank you!

[2017-04-11 16:45] #350 closed

[2017-04-20 22:35] fertobar opened #352 "missing time_to_live field in GCM ?"
I'm working on PNs with rpush **2.7.0**, and I notice when I log the payload for FCM the **time_to_live** is not there.
The PN is sent ok and other fields like expiry, category, etc are in the payload with the correct values except time_to_live.

I set time_to_live when I create the notification like:
[code]
do you know if there is a reason for that field that is ignored, or could be an issue?

th

[2017-04-21 06:08] Nattfodd commented on #352
I believe it is called `expiry` in Rpush.

https://github.com/rpush/rpush/blob/644ba8fd5372aa974eb42c1db42a1ebf8ed35604/lib/rpush/client/active_model/gcm/notification.rb#L47

[2017-04-21 20:50] fertobar commented on #352
thanks @Nattfodd ! make sense now

[2017-04-21 20:50] #352 closed

[2017-04-21 21:11] fertobar commented on #260
I notice an issue on GCM with priority
It's ok, I create with 'high'  and I see internally is converted to 10.

but then I see there is case statement:
https://github.com/rpush/rpush/blob/644ba8fd5372aa974eb42c1db42a1ebf8ed35604/lib/rpush/client/active_model/gcm/notification.rb#L27

if I log the value before the case , I see as 10, so there is no match and I see the condition:

'must be one of eit

[2017-04-21 22:02] aried3r commented on #260
Can you write a test case that fails in the way you describe? You can find a link to the existing test cases in my previous post.

[2017-04-21 22:11] fertobar commented on #260
sure, I can also provide a potential fix for this issue

[2017-04-21 22:51] aried3r commented on #260
That would be great!

[2017-04-22 01:14] fertobar commented on #260
@aried3r seems hard to reproduce with specs, but something like this:

[code]

[2017-04-23 12:15] aried3r commented on #260
Yes, it's probably the way you log things. Do you have this problem in production? Because we use this feature successfully in our code.

[2017-04-23 12:17] aried3r commented on #349
I don't know how to do it specifically for iOS, but you need the `mutable_content` field in the payload which is currently only supported if you use the master branch version of rpush.

https://github.com/rpush/rpush/commit/71ba8181fa7fe13d3f0d8b4300ae255b47795c88

[2017-04-24 15:11] fertobar commented on #260
yes, actually the issue was reported by Android team to me and I could confirm after add more log that they are right. I could detect this adding log in the last post to FCM:
https://github.com/rpush/rpush/blob/ee32bdf3456f00d13d7c8ade28a6f6bf24257cb0/lib/rpush/daemon/gcm/delivery.rb#L147 and the priority field was missing there.

Also checked with extra log that  value was 10 so in the flow the e

[2017-04-24 15:14] aried3r commented on #260
Could you post your code you use to build the notification?

[2017-04-24 15:19] fertobar commented on #260
is like this:
[code]

[2017-04-24 16:26] fertobar commented on #260
this fixed the issue in my case: https://github.com/rpush/rpush/pull/353
feel free to customize or suggest other alternative

[2017-04-24 16:47] aried3r commented on #260
Using your code I had no problem:
[code]

Before we merge #353 I'd love to see a failing test case that is fixed by your PR.

[2017-04-24 20:30] fertobar commented on #260
great! other detail is that I'm on Redis storage.
I will try to reproduce with original code

[2017-04-28 10:33] michele commented on #285
+1 same here

[2017-05-02 03:22] jrball3 commented on #146
Solutions to this?  I'm having a similar issue, using a production certificate on production environment.  Help appreciated!!

[2017-05-04 17:36] fertobar commented on #113
I'm having same issue when I stress a little the system. Eg 100 PN very fast. and if I send same a little slow, like a micro delay is working ok. so seems not a payload or token issue for me.
The failure when I stress the system is intermittent. some PN are delivered and other missing.
Apple said in theory a rate of 9000 per second without retry.

All PNs I'm sending are independent, for different

[2017-05-04 21:52] andresfcamacho commented on #216
Its been awhile but @fabiomassimo did you figure out how it works? I'm just starting to integrate and it would also be good to know what the `feedback` object looks like in this code:
[code]

[2017-05-04 22:05] chris commented on #216
We're using it, and I have:
[code]

One thing you should factor in, depending on how you setup your certs and environment is that if you have test builds of your app, but where they can be configured for production APNS (i.e. using your production cert or a cert that is not for the sandbox), and you non-production servers are checking the feedback service, they can "steal" the feedback messages. (

[2017-05-04 23:38] fertobar commented on #325
yes, I notice same issue in my tries @Nattfodd

[2017-05-12 21:51] andresfcamacho commented on #281
+1 on fixing this. The breaks our CircleCI builds because circle runs:

[code]
which results in same stacktrace.

[2017-05-13 19:54] Corstiaan84 opened #355 "Calling Rpush.push from console just return '=> {}'?"
When I call Rpush.push from console it just returns '=> {}'.

Is this expected behaviour, or does this mean something is amiss?

No messages get delivered to my device through FCM and I am in the process of debugging. How can I get some verbose output from Rpush?

Thanks!

[2017-05-19 13:58] sveredyuk opened #356 "Rpush::Reids::Client"
I need to add one more additional attribute to redis model.

How can I do this in an efficient way ?

P.S. class_eval don't work, it broke something in modis and do not allow save the record

[2017-05-19 14:01] Nattfodd commented on #356
[code]

[2017-05-19 15:59] sveredyuk commented on #356
When try to save record (redis) with myfield

[code]

[2017-05-19 16:18] sveredyuk commented on #356
@Nattfodd Now I see, I need money patch all classes and STI (fucking STI)

[2017-05-20 09:27] NeoElit commented on #335
My bad. It's already handled by the hook
[code]
with error value: "MismatchSenderId"

[2017-05-20 09:27] #335 closed

[2017-05-26 16:07] ikbenben opened #357 "getaddrinfo: Name or service not known error"
For the last week we have started to receive a Name or service not known error intermittently. There are a lot of successful rpush notifications being sent so it is not a configuration issue.

The last reported issue was at 14:17 UTC today and if I look at the rpush_notifications table, I do not see any notifications that were created at that time or any that have a failed_at timestamp for that ti

[2017-05-29 06:32] Shawn-Xiao commented on #357
I am currently using Houston gem to Push Notification. I am also struggle with this getaddrinfo: Name or service not known error. It happens sometimes without any reason. I am using a developement certificate and environment. Hope someone can figure out what's happening..

[2017-05-30 14:52] vtm9 opened #358 "Error in Gcm v2.7.0 ArgumentError"
Error in version 2.7.0 when I try to push to Fcm.
`[2017-05-30 13:43:50] [android] Starting 1 dispatcher... [2017-05-30 13:43:50] [ERROR] [android] Exception raised during startup. Notifications will not be delivered for this app.
[2017-05-30 13:43:50] [ERROR] ArgumentError, wrong number of arguments (given 1, expected 0)
/home/vtm/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/net-http-persistent

[2017-05-30 15:04] vtm9 commented on #358
maybe cherry-pick this commit 709ce4d2 to v.2.7.0

[2017-05-31 16:58] Fivell opened #359 "configure rpush without storage"
Hello, I didn't find in readme and wiki , so posting question here.
Is there a way to send notification in real using rpush time from rails/rack app  (or pure ruby app) running without database,  when no  storage like  redis,activerecord,mongo available ?
Thanks !

[2017-06-01 14:55] aried3r commented on #359
Hey!

While I am not certain, from a quick glimpse in the code it seems you have to have a persistence layer which so far only includes the ones you mentioned. Technically of course there is no reason for this.
For example the [gcm gem](https://github.com/spacialdb/gcm) does not make use of a persistence layer at all, leaving this to the developer.

Anyway, take this with a grain of salt, maybe yo

[2017-06-01 17:25] ctmaloney commented on #358
Having this issue also

[2017-06-01 17:49] aried3r commented on #358
This has been fixed in the `master` branch. Since the original author of this gem does no longer actively maintain it, a few contributors have been chosen which sometimes commit fixes.

So, sadly we cannot simply back port it. Your other option besides using the `master` branch (which includes other bugfixes as well), – if no other dependency relies on ≥3.0 – is to lock `net-http-persistent` to `<

[2017-06-01 17:49] #358 closed

[2017-06-02 06:43] vtm9 commented on #358
@aried3r Ok. Thank you!

[2017-06-05 13:36] Tonkpils commented on #325
Yeah, I just ran into this as well using `rpush-redis`

[code]

[2017-06-05 14:27] Tonkpils commented on #325
@Nattfodd I've released a new version of the library backing rpush-redis which fixes this issue. Could you update `bundle update modis` and let me know if you still see this?

[2017-06-05 14:55] Tonkpils commented on #295
The issue here is you're attempting to use `find` to fetch a record by an attribute. This would blow up with active record as well (e.g `User.find('leo')`). If you knew the `id` of the record stored by modis in redis then you'd be able to find the record using that id. This is what the implementation of `where` does. It finds the ids for the records with the given attribute and value then fetches

[2017-06-08 08:38] SpiderRodriguez commented on #348
Hey guys,

I have here a similar problem. My apple push certificate was about to run out so I generated a new one. I replaced the certificate in the rpush_apps table (verified the certificate in apple finder and ubuntu viewer), stopped and started the rpush background command with rpush start -e production but rpush still points out that my certificate will run out. I have waited a day and restart

[2017-06-08 11:41] spaghetticode commented on #284
@robban thank you, I think this note should be in the readme to save other people's time

[2017-06-08 13:15] SpiderRodriguez commented on #348
I have solved here my problem. Somehow I had multiple ruby processes running. After I killed them all and started the rails project again the problem didnt occur anymore. So I suppose one of the processes was a rpush process using the old certificate.

[2017-06-08 19:16] hmistry opened #360 "Status of APNS2?"
Hi

What's the status of APNS2 implementation? Is it ready for production use or working well enough but not yet battle proven? Can I use the master branch?

I'm having issues with old APNS regarding connection closed due to invalid tokens and it seems the feedback API is not handling it properly... anyways would like to move to improved APNS2.

I appreciate your thoughts. Thank you.

[2017-06-08 20:24] Nattfodd commented on #360
We use APNS2 on production for 6 months already, so.. probably yes, it's production ready.

[2017-06-08 21:19] chris commented on #360
We were using it, but abandoned due to callback issues. However, that appears to be fixed (I haven't tested), see this issue: https://github.com/rpush/rpush/issues/339

[2017-06-09 19:07] hmistry commented on #360
@Nattfodd Thats good to hear. Does the feedback API work well for invalid tokens? (Assume I delete the invalid token in feedback api.)  Does APNS2 keep resending the batch removing the one bad token only to have another fail or is it designed better?

@chris Thanks for sharing. We'll evaluate it and I'll post how it goes.

[2017-06-10 20:27] thuss commented on #331
I'm seeing the same issue with the latest published 2.7.0 gem. Users are occasionally receiving duplicate notifications even though we only create a single entry in the rpush_notifications table.

[2017-06-14 08:05] spaghetticode opened #361 "Date/time database fields don't follow rails conventions"
I noticed that database field names don't follow the rails naming convention:

* "fieldname_at" for datetime fields
* "fieldname_on" for date fields

I think that renaming the fields as per rails conventions may be an improvement.

[2017-06-14 14:25] neerajgupta2407 commented on #159
Facing the same issue:
This is what i am getting in DB:
`Unable` to deliver notification 2011, received error (Failed to deliver to all recipients. Errors: MismatchSenderId.`
`
Logs:
`
[2017-06-14 14:17:22] [ERROR] Rpush::DeliveryError, Unable to deliver notification 2011, received error (Failed to deliver to all recipients. Errors: MismatchSenderId.)
/home/ubuntu/.rbenv/versions/2.2.3/lib/ruby/ge

[2017-06-15 16:30] hmistry commented on #283
@jim0020 could you share more to give better context? Basically 2 things missing are:
1. What loads were you having when you bumped the connections? Rough estimate is ok.
2. What instance type (think AWS t2.nano vs m3.large or Heroku Standard 1x vs 5 Standard 2x...) were you running Rpush on?
3. Did Rpush require more RAM/CPU when you increased connections?

[2017-06-16 18:09] hmistry commented on #357
+1 Ideas?

[2017-06-17 10:23] Nattfodd commented on #357
We also faced with issue with some old clients using old apns protocol. So I suggest maybe this is some sign of deprecation of the feedback service?

[2017-06-21 10:29] vkeziah commented on #236
I have the same issue

[2017-06-22 10:06] homburg opened #363 "Apns2 - 400/MissingTopic"
Hi

After creating an Rpush Apns2 app we are getting `400/MissingTopic` errors for notifications for a production certificate.

Anyone else experiencing this?

[2017-06-22 10:36] Nattfodd commented on #363
When you create a new Rpush::Notification, set ` { aps: { headers: { 'apns-topic': 'your.bundle.identifier.com' } } `

[2017-06-22 10:49] homburg commented on #363
Thank you for your reply.

I was looking at this gist: https://gist.github.com/naumov/b7a0a320336c3d396ce5cffcbcf42c1e

with:

[code]

Where does the `aps` key fit?

[2017-06-22 10:57] homburg commented on #363
After adding the header field as above, I'm receiving `400/BadDeviceToken` instead.

Could this be caused by the wrong bundle id in `apns-topic`?

[2017-06-22 10:59] Nattfodd commented on #363
No, if wrong apns-topic provided, there is "400/DeviceTokenNotForTopic" error. BadDeviceToken means device token does not exist.

[2017-06-26 10:57] benjaminreid opened #364 "Migrations get aborted in Rails 5.1.1"
Migrations get aborted following the installation instructions.

### Steps to reproduce

Create a new Rails project (5.1.1) with Postgres.

[code]

Add the `rpush` gem to the `Gemfile` and run `bundle`, then...

[code]

Resulted in the following error being thrown.

[code]

[2017-06-26 11:02] benjaminreid commented on #364
Seems the fix is changing any reference of `ActiveRecord::Migration` to `ActiveRecord::Migration[5.1]` if that helps.

[2017-06-26 14:27] rusikf opened #365 "How to insert link in apple notification?"
I want to insert link to apple notification, **not only text.**
So when user tap on it, it will redirected to the url.
Is it possible ?

[2017-06-27 08:29] SofiaSousa commented on #159
Same issue here. Any any thoughts?

[2017-06-27 08:47] neerajgupta2407 commented on #159
@SofiaSousa Try updating the GCM account keys. It worked for me.
There might be mismatch in account keys you are using vs the decive_id with which its subscribed on.

[2017-06-27 11:58] SofiaSousa commented on #159
@neerajgupta2407 thank you for your reply.

I read that is recommended to upgrade to FCM. So i did it and got a different key from Firebase that works if I try it with a curl request.

But when I try with Rpush, I get a different error:

Rpush::DeliveryError, Unable to deliver notification ID, received error 401 (Unauthorized, check your App auth_key.)

[2017-06-27 19:25] L3K0V commented on #219
Is there any up to date workaround or fix provided?

[2017-06-28 13:48] aried3r commented on #325
@Tonkpils, I'm currently working on #366 but I had to lock `modis` to 1.4.1 in the tests because even with 1.4.2 I saw tests failing. Do you think you could help me make it work with the newer modis version?

Since the future of #366 is unclear, maybe you could send a separate PR for the current master branch.

[2017-06-28 15:25] aried3r commented on #198
Closing, I think this isn't a bug and @huteri answered the question.

[2017-06-28 15:25] #198 closed

[2017-06-28 15:27] aried3r commented on #241
I'm actually planning to ditch compatibility in #366.

[2017-06-28 20:17] Tonkpils commented on #325
@aried3r I'll make an update for it and see if I can fix any failing specs.

[2017-07-12 13:04] pauldub commented on #156
I also think that the way this is done is weird and misleading. I think that preventing those key from being erased by the setter is a poor excuse for a broken setter.

Also, there is an error for the `notification=` setter which merges with `data` here: https://github.com/rpush/rpush/blob/master/lib/rpush/client/active_record/notification.rb#L31 Because of this a mixed `data` and `notification` F

[2017-07-12 15:24] atebit opened #368 "[ERROR] ThreadError, can't create Thread: Resource temporarily unavailable"
[code]

[2017-07-12 15:28] atebit commented on #368
The execution code

[code]

[2017-07-12 16:10] aried3r commented on #156
Hey @pauldub, sure, if there is an actual error which can be shown with a test that would be great to have!

I haven't faced this error myself although we use mixed `data`/`notification` FCM notifications, but I'm definitely interested :)

[2017-07-13 08:40] lolgear opened #369 "APNS key support"
Apple added keys that doesn't expire. ( awesome! )

Does RPush support these keys?

[2017-07-13 08:46] Nattfodd commented on #369
Can you please explain in details, what keys?

[2017-07-13 08:47] lolgear commented on #369
https://developer.apple.com/videos/play/wwdc2016/724/

https://stackoverflow.com/questions/39943701/how-to-send-apns-push-messages-using-apns-auth-key-and-standard-cli-tools

[2017-07-13 08:52] Nattfodd commented on #369
Still not sure what are you talking about, but from this presentation:

HTTP/2 protocol works with certificates-based authentication (use master branch), does not work with JWT tokens (unimplemented).

[2017-07-13 09:14] soulfly commented on #369
I guess @lolgear is talking about JWT tokens that can be used instead of push certificates.

So @Nattfodd is right

[2017-07-13 14:42] pauldub commented on #156
I'll look into the issues we had regarding mixed FCM notifications, it might be more specific. Regarding the `merge` behaviour you can easily see it here:

[code]

It also depends on the order of assignment, if data is assigned last then it would not trigger that behaviour eg:

[code]

[2017-07-13 15:48] aried3r commented on #156
Ouch. I'd love to see this fixed, that's really not good. If you're up for it, I'd love to see a PR and get it merged if everything's ok. :)

[2017-07-15 16:56] atebit commented on #297
Did you ever figure out a solution to this @summera ? I'm running into this now and wondering how to fix..

[2017-07-15 19:07] summera commented on #297
@atebit I did not. I ended up having to add a temporary hack to Rpush to disable the creation of threads for the apps I didn't need (luckily I didn't need Rpush enabled for all of them). I then migrated everything over to [OneSignal](https://onesignal.com/).

[2017-07-17 07:57] pauldub commented on #156
@aried3r could you give a look at https://github.com/tymate/rpush/commit/69bab9974c71c8c526b34ea4c70f789912f8e74c and the comments there please?

[2017-07-17 17:40] sveredyuk opened #370 "Unable to deliver notification 27, received error 400 (GCM failed to parse the JSON request. Possibly an Rpush bug, please open an issue."
Hi, I am using Redis as backend for rpush:

This is one of rpush in redis record:
`
#<Rpush::Client::Redis::Apns::Notification:0x0000000c739f40 @attributes={"id"=>27, "badge"=>nil, "device_token"=>"80AE9B9E8952671CA37F48F260C3E9937A16177EB59E13B0905EA588BBE76E87", "sound"=>"default", "alert"=>"TEST8 ALL", "data"=>{"push_notification_id"=>602}, "expiry"=>86400, "delivered"=>false, "delivered_at"=>n

[2017-07-18 06:09] #368 closed

[2017-07-18 06:10] atebit commented on #368
There were too many threads being created by using Rpush.push in a job..

Instead put it on the rails thread with Rpush.embed

[2017-07-18 06:19] atebit opened #371 "GCM: Received value of type 'String', expected 'Fixnum' for attribute 'priority'."
Getting an error that I can't really debug, because it seems arbitrary to me..

The code that I'm calling:
[code]

The Error I'm getting:
`Received value of type 'String', expected 'Fixnum' for attribute 'priority'.`

Here's the stack trace:
[code]

maybe it has something to do with this GCM notification ???
[code]

Help would be greatly appreciated...

[2017-07-18 06:22] atebit commented on #371
Oops.. realized as I posted this that the error was because I'm calling Apns instead of Gcm

[2017-07-18 06:22] #371 closed

[2017-07-25 08:59] czhc opened #372 "Mismatched pending namespace between Store::Redis and Redis::Notification"
[code]

We are running `rpush` as a daemon, using redis as a store.

All instances of `Rpush::...::Notification.new` return `true` on `.save!`
But no notifications are added to queue.

What we noticed was there was no entry for `rpush:notifications:pending`, but instead the notifications were added to a key `rpush:notifications:notification:pending`.

[code]

Manually adding the notification into

[2017-07-25 09:07] Nattfodd commented on #372
You're probably using new Modis gem version ( >= 1.4.2). 1.4.2 version of this gem introduced some fixes related to STI Childs logic, including namespaces changes (https://github.com/ileitch/modis/commit/3d7f0b3a1fcfad98587be8a86d5d61b7a4cb0d19).

One solution is to lock Modis on 1.4.1 version. Another one, which we actually did - to monkeypatch Rpush::Notification class to explicitly set namespac

[2017-07-25 10:27] czhc commented on #372
Thanks @Nattfodd, wasn't looking into `modis`. I'll leave the issue open if there isn't an existing patch for `rpush` or `rpush-redis` already.

[2017-07-31 13:42] cupofjoakim opened #373 "Missing version 2.8.0"
Had some trouble reinstalling all my gems on my workstation when my head project cried out that it couldn't download a dependency. It's about rpush @ v2.8.0, which my git history says we've used the last 8 months.

I'll try downgrading to 2.7.0 for now, but for peace of mind: Did 2.8.0 exist at some point?

[2017-08-02 06:39] rvsingh commented on #277
I have same issue. I am working on heroku and running Rpush.push in sidekiq. It works fine if no tokens are expired. But in case of even a single expired token it fails to deliver further APN notifications. Use of rpush start requires yet another worker dyno, which is costly. Any solution?

[2017-08-02 09:29] aried3r commented on #373
2.8.0 was never released, neither was "3.0.0" (I call whatever is currently in the `master` branch "3.0.0" right now). You can either use the `master` version or point your Gemfile to use a certain commit, which is probably a more stable approach.

[2017-08-02 09:29] #373 closed

[2017-08-08 18:34] jitinnagpal1989 opened #374 "rpush not working with Firebase Cloud Messaging"
Rpush is working fine for APNS, but does not work for Firebase push notifications. I followed the steps and added my registration is as  `n.registration_ids = ["123"]`, it saves notification in rpush table but it is never sent, and gives no error.

[2017-08-08 19:16] aried3r commented on #374
We've successfully been using rpush with FCM ever since it was released.

Are you sure you're [running rpush](https://github.com/rpush/rpush#running-rpush)?

Also please give more information about your setup. Rpush version, Ruby version, Rails version, are you using ActiveRecord, Redis for the notifications etc.

[2017-08-08 22:46] jitinnagpal1989 commented on #374
I am using Ruby 2.3.4, Rails 4.2.4, yes I am using ActiveRecords. I am running RPush and it is working fine for Apple notifications. I am using GCM for device_type = android and then it stops to work. It saves the notification in rpush table but never sends it.
Relevant code:
[code]

[2017-08-09 00:28] #374 closed

[2017-08-09 00:31] jitinnagpal1989 commented on #374
I solved issue by downgrading gem 'net-http-persistent', '2.9.4'. It never gave any error earlier but when i forced 'rpush push', it gave error that

I downgraded gem net-http-persistent to 2.9.4, worked like a gem

[2017-08-28 22:32] plskrdar commented on #324
have the same problem,

1. When I use ActiveSupport then it looks like I dont get any error exception but the code is not running after configure block

example:
    puts 'Before configure'
    Rpush.configure do |config|
      # Supported clients are :active_record, :redis and :mongoid
      config.client = :active_record
    end
    puts 'After configure'

result:  i'm getting only 'Before confi

[2017-08-29 15:20] DemidenkoAndrey opened #375 "Push particular notification"
Hello.
Is there any way to push only particular notification saved before?

[2017-08-30 06:14] davemcg3 commented on #307
So... we're at 10 months and this still hasn't been released, even though it's fixed. Is a new release on the roadmap? Anything I can do to help?

[2017-08-30 11:48] aried3r commented on #307
@ileitch is sadly very inactive these days. Your best chance is to use the `master` branch right now.

What we could do is tag certain "releases" and make branches so people can point to a branch other than `master`.

[2017-08-30 11:54] ileitch commented on #307
@aried3r What's your email address? I'll add you as an owner on Rubygems so you can make releases

[2017-08-30 21:05] flaviolpgjr opened #376 "n.registratin_id"
Hello, I have a question, I'm sorry if it's a simple question, in n.registration_ids, you must pass a token, how is that token obtained?
Every time I send the notification, I get the error: Errors: InvalidRegistration.
Thank you

[2017-08-31 09:05] L3K0V commented on #370
Hello, It looks like that the rpush JSON for the Firebase contains an extra (deprecated already) which are causing the problem.

In a fork of the project I created I was able to fix this error and added support for topics:
https://github.com/L3K0V/rpush/commit/881987dc73f0c430e6e803242a7d473f9bad40e0#diff-07f36eb5322b38eec3f476e77104b305L46

[2017-08-31 11:27] #364 closed

[2017-08-31 11:50] aried3r commented on #374
Rpush 3.0.0.rc1 is released which should resolve your issue.

[2017-08-31 11:51] aried3r commented on #343
@MSchmidt 3.0.0.rc1 is released which should resolve your issue.

[2017-08-31 11:53] aried3r commented on #268
Closing. MongoDB support has been dropped in 3.0.0.rc1.

[2017-08-31 11:53] #268 closed

[2017-08-31 11:53] aried3r commented on #181
Closing. MongoDB support has been dropped in 3.0.0.rc1

[2017-08-31 11:53] #181 closed

[2017-08-31 11:56] aried3r commented on #376
You get the token from the FCM server response. Your clients have to register with FCM, get the token, send the token to your server and then you can use it to send out notifications.

For Android for example, you can follow this guide. https://firebase.google.com/docs/cloud-messaging/android/client#sample-register

[2017-08-31 11:56] #376 closed

[2017-08-31 12:05] aried3r commented on #125
We've just released rpush 3.0.0.rc1 and there's also been a few more modis and rpush-redis versions. Feel free to reopen if this is still an issue for you.

[2017-08-31 12:06] aried3r commented on #145
I could not reproduce this. Feel free to open a new issue if this is still a problem.

[2017-08-31 12:06] #145 closed

[2017-08-31 12:07] #125 closed

[2017-08-31 12:09] aried3r commented on #173
I use a similar solution to what @nahaylo proposed. Setting the `pid_file` config option is the way to go.

[2017-08-31 12:09] #173 closed

[2017-08-31 12:09] #241 closed

[2017-08-31 12:11] aried3r commented on #178
Since there have been no new reports for almost two years I'm closing this. Please feel free to open another issue if you are still facing this with 3.0.0.rc1 or newer.

[2017-08-31 12:11] #178 closed

[2017-08-31 12:13] #275 closed

[2017-08-31 12:16] aried3r commented on #307
https://rubygems.org/gems/rpush/versions/3.0.0.rc1

[2017-08-31 12:18] flaviolpgjr commented on #376
Thank you!

[2017-09-02 05:55] davemcg3 commented on #307
Nice! What do you need from me?

[2017-09-02 09:40] aried3r commented on #307
Nothing :)
You could, however try out version 3.0.0 RC1 of rpush and report back if you get any more errors.

[2017-09-07 11:29] Fivell commented on #208
builded in proxy support sound great, now only possibility is to patch dispatchers

[2017-09-09 13:43] luispimenta opened #377 "[ERROR] Rpush::DeliveryError"
Unable to deliver notification 62, received error (Failed to deliver to all recipients. Errors: MismatchSenderId.)

# config
app = Rpush::Gcm::App.new
app.name = "name"
app.auth_key = "AAAAO6o6y4c:APA91bEwIB8QEN_UTh5TlxQt0wFd5UInBElb64KWpgVy_Aozc1U-1KI4MJaVrhfWNazlLCekjl1gPlCjHxfU5nuI0rxanYe2tBIhpoSqi5xnQofHSe0yCaRGYebBwK5Pp"
app.connections = 1
app.save
# parameter for the notification
n = Rpush:

[2017-09-12 15:45] aried3r commented on #377
Hey! I took the liberty to censor your `auth_key`, you should keep that one a secret. But it seems you're using an old one. In the Firebase console you should see a newer, shorter one. But either one should work.

It looks like rpush is working as intended, since it's properly returning an error. I suggest using [Postman](https://www.getpostman.com) or the [Firebase Notification Composer](https://

[2017-09-12 15:49] #372 closed

[2017-09-18 12:38] sveredyuk opened #379 "All sent push was marked as delivered"
Very strange thing:

- Redis backend
- All sent notifications was marked as delivered.. even fake devices with wrong identifiers/tokens

Any suggestions?

[2017-09-22 09:21] pabse opened #380 "DEPRECATION WARNING: Passing default to #index_name_exists? is deprecated without replacement"
We recently started to use this gem in our application.
But when we run `rpush init` followed by `rails db:migrate` we are getting the following error:
`ActiveSupport::DeprecationException: DEPRECATION WARNING: Passing default to #index_name_exists? is deprecated without replacement.`
And the migrations getting canceled.

Versions we are using:
- rpush: 3.0.0
- rails: 5.1.4
- ruby: 2.4.2

Complete

[2017-09-24 14:27] aried3r commented on #380
Thanks for the report! I'm seeing these deprecation warnings in our Travis builds [as well](https://travis-ci.org/rpush/rpush/jobs/275907141#L602), but they don't seem to abort the whole thing.

I'll try to have a look at it next week, but I'd also welcome a PR if you feel like it :)

[2017-09-26 09:04] philipgiuliani opened #381 "Why did you add a mutable_content column in the database?"
It seems to me that the column `mutable_content` its not used. When i set `notification.mutable_content = true` it will just add `{ "__rpush_mutable_content__":true }` in the data but the column value will remain to 0.

It currently works the same as `content_available` does.

@tdtran

[2017-09-27 07:25] tdtran commented on #381
I did it only to be consistent with how rpush deals with other attributes. It seems they are making a transition from one db column per attr to storing them all in json

[2017-09-27 07:32] philipgiuliani commented on #381
Ok, I get it! But than I would remove the setter (otherwise the column is never used)
https://github.com/rpush/rpush/blob/0546b5e25218763aa1edd012fa52a281d5648da8/lib/rpush/client/active_model/apns/notification.rb#L36

And change https://github.com/rpush/rpush/blob/0546b5e25218763aa1edd012fa52a281d5648da8/lib/rpush/client/active_model/apns/notification.rb#L60 to be:
[code]

----------

Or else: Re

[2017-09-28 15:11] aried3r commented on #380
I was able to reproduce the deprecation warnings, but doing
[code]
does not error out, since it's only a deprecation warning.

Rails 5.1.4
Ruby 2.4.2
rpush 3.0.0
sqlite

It also doesn't error on Travis, how did you get it to stop?

[2017-09-29 09:28] pabse commented on #380
Ah my bad...

We have this config our application in development:
[code]
This is how I got it to stop 😄

So this is no bug.
You can remove the label and close it if you want. Or keep it open as a reminder to fix the deprecation warnings 😉

Sorry for the circumstances!

[2017-09-29 09:49] aried3r commented on #380
Ah, I didn't have that setting in a brand new rails app, but it's a good one to have around.

I'll keep the issue open because since it's gonna be removed, we'll have to deal with it eventually, thanks for the report!

[2017-10-03 11:19] aried3r commented on #381
Phew, I haven't really used APNS since we use FCM for both iOS and Android, but I'm open for PRs if there is a bug or useless behavior.

As for the move away from DB columns, we haven't really discussed moving away from DB models to using JSON (probably combined with models that then do the verification), but it would be more flexible I guess, since now we have to add functionality and release a n

[2017-10-03 11:22] aried3r commented on #379
Hey! I sadly can't really help you there. I only recently became a maintainer for this project so we can release new versions whenever there are bug fixes or new functionality. Since I don't use Redis as a backend, I don't really have a lot of experience there wrt/ Rpush.

I can only offer the usual "PRs welcome" in this case :\

Do you have a demo project or code you can share so we can reproduce

[2017-10-03 11:24] sveredyuk commented on #379
Hi, @aried3r. Unfortunately, the project is not public, I can't share the codebase. But if I found how to fix this within rpush code, ofc I'll PR it.

[2017-10-04 18:42] hugoh1995 commented on #330
I'm having the same issue

[2017-10-07 18:30] grosser opened #382 "make booleans true or false ... not nil"
mutable_content, content_available and alert_is_json can be nil/true/false which seems dangerous ...
would you accept a PR that changes them via `change_column_null false` ?

FYI found via:

[code]

[2017-10-16 12:11] philipgiuliani commented on #381
Ok thank you :)

[2017-10-16 12:11] #381 closed

[2017-10-17 15:13] aried3r commented on #382
Sure, I don't see why not. Would you change the migration templates or add a `3_0_1_updates` migration? Asking because I'm not sure if this should be seen as a backwards incompatible breaking change which would demand a 4.0 according to semver. I don't know if people rely on it being `nil` at any point.

In theory it should be an implementation detail which should not break stuff.

PS: That's a ne

[2017-10-17 16:05] grosser commented on #382
Was thinking about adding a new migration to make it backwards compatible ... doubt it will break anything.

other tests are here https://github.com/zendesk/samson/blob/master/test/integration/cleanliness_test.rb ... few reusable ... most very project specific :)

[2017-10-19 16:42] tudormunteanu opened #383 "Scheduled notifications"
Is there a way to scheduled a notification to be sent at a particular time?

[2017-10-20 16:00] aried3r commented on #383
You'll have to use the scheduler of your choice to do that. See also my answer here https://github.com/rpush/rpush/issues/337#issuecomment-281059440

[2017-10-20 16:00] #383 closed

[2017-10-20 16:06] ileitch commented on #383
You can try setting `deliver_after`, though I don't remember if that'll work because it's typically used by the retry mechanism.

[2017-10-23 09:48] HienNguyenAsnet opened #385 "Sometime rpush is stuck"
I use rpush for my Prod server to push notification for both APN and GCM. Sometime rpush process is stuck. I need kill process and start again.

<img width="1258" alt="screen shot 2017-10-23 at 16 45 03" src="https://user-images.githubusercontent.com/5277254/31882668-bf6aac62-b811-11e7-9f53-b52c7e491649.png">
<img width="1259" alt="screen shot 2017-10-23 at 16 47 19" src="https://user-images.githu

[2017-10-25 20:24] bqmackay commented on #146
Aside from creating a new certificate, I also had to update the `Rpush::Apns::App` that had been previously created, particularly, the `certificate` param with the new certificate's contents.

Alternatively, if you don't mind discarding any unsent notifications, you could delete the current App and create a new one from scratch.

[2017-10-31 20:51] stefangomez commented on #285
This is kind of an old thread, but I realized (for me) that these errors were coming from other (older) "Rpush::Apns::App" that were still in the db. Not sure if that helps, but you should be able to see all of the apps your db store has by doing: Rpush::Apns::App.all.to_a and seeing which ones you no longer use/are expired

[2017-11-03 05:49] mariannegru commented on #322
Hi,

I added p8 support: https://github.com/rpush/rpush/pull/386

Marian

[2017-11-17 07:55] MuneebSarfraz94 commented on #355
Anyone with the help?? i'm stuck with same issue

[2017-11-22 10:34] tuxtux59 opened #389 "Is it a way to check if certificate is expired"
Hi,
I experienced an error link to our APNS certificate . We could not send notifications because we created the APNS App only if the Rpush ios app wasn't created but not depending on certificate status. But we had the right certificate on server.
Is there a way to check the certificate status in aim to update it in case of expiration?

Is a right way to do if I decide to test using `Rpush.apns_fe

[2017-11-22 11:53] milgner commented on #325
Running Modis 1.4.2 and the problem has gone for newly created apps. Interestingly enough, existing apps don't show up in their proper scope but the new ones seem to work properly.

[2017-12-01 11:44] aried3r commented on #382
Fixed in #384

[2017-12-01 11:44] #382 closed

[2017-12-04 09:49] JpegDev commented on #389
look for faslane pem:
https://github.com/fastlane/fastlane/tree/master/pem#readme

[2017-12-04 16:27] aried3r commented on #322
Seeing as @mariannegru added support and I don't use APNS, it would be really great if some of the others in here could test it a bit. :)

[2017-12-05 09:53] HienNguyenAsnet commented on #385
The process stuck when any notification raise `Rpush::DeliveryError`(Ex: `Failed to deliver to all recipients. Errors: NotRegistered.`)

[2017-12-05 10:06] HienNguyenAsnet commented on #385
Below is version info
- `ruby 2.2.1`
- `rails 4.2.3`
- `rpush 2.7.0`

In addition, I can't stop rpush process with command `bundle exec rpush stop -e production -p <pid_file>` too

[2017-12-07 08:47] #363 closed

[2017-12-07 12:44] aried3r commented on #363
Hey @homburg, were you able to successfully resolve this issue?

[2017-12-07 12:48] aried3r commented on #385
You're using rpush as a daemon process, right?
We also get the `Rpush::DeliveryError`, but that's alright, that usually just means you have to handle these IDs and remove them from your database. Do you correctly handle these errors?

[2017-12-07 12:52] homburg commented on #363
Sorry, do not remember the resolution. Bad form on my part.

[2017-12-08 02:12] HienNguyenAsnet commented on #385
Yes, I'm using rpush as a daemon process.

I don't handle that error. I use reflect API to try investigate it and detect the root reason. The root reason is sometime got database connection error then the daemon process try reconnect database but it's fail and the process trying again forever.

[2017-12-14 18:18] aj-gregory opened #393 "Fresh install of rpush fails on 3.0.1 due to migration error"
When installing for the first time this issue arose:

[code]

Pinning the version to 3.0.0 resolved it for me

[2017-12-15 13:00] vizvamitra opened #394 "mqtt"

[2017-12-19 12:54] aried3r commented on #393
I could reproduce this. Wonder why the tests didn't catch this.

Thanks for the report!

[2017-12-27 12:05] chaitanya-nyros opened #395 "Send picture in push notification"
I am unable to send image in notification. Following is my configuration.

`		n = Rpush::Gcm::Notification.new
		n.app = Rpush::Gcm::App.find_by_name("AppName")
		n.registration_ids = [device_id]
		n.data = { message: "Some message" }
		n.priority = 'high'
		n.content_available = true
		n.notification = { body: 'great match!', title: 'Portugal vs. Denmark', picture: 'picture_url', style: 'picture'

[2017-12-29 15:33] vokrut commented on #284
For using with FCM needed two parameters: app.name = "android_app" and app.auth_key = "...". In FCM console we have Server key, Legacy server key, Sender ID, project ID, package name, App ID. Could someone help with it? What exactly we need to put in that parameters?

[2018-01-01 06:14] chaitanya-nyros commented on #395
Ping

[2018-01-05 12:07] namxam commented on #393
I am having the same issue. Any hint on how to resolve this?

[2018-01-05 20:26] sposinff opened #397 "Number of DB Connections"
We are using rpush with ActiveRecord (rails 4.2) and are trying to determine how many database connections rpush is configured to use. We are starting rpush as its own daemon with `rpush start`. Is it just 1? As many as it needs?

Thank you.

[2018-01-07 06:51] Babbz75 commented on #363
Hey guys,
I'm using rpush for ios notifications and i'm getting this error after switching to Apns2:
`Notification 472 failed, 400/MissingTopic`
when you to a topic needs to be added, can I do that in the console something like
`Rpush::Apns2::App.first.topic = 'mybundleid'`

[2018-01-08 13:15] aried3r commented on #395
I do not see a `picture` payload in the notification part in the documents, can you point me to where you found it?

https://firebase.google.com/docs/cloud-messaging/http-server-ref

[2018-01-08 13:21] aried3r opened #398 "Make migrations in tests more robust"
#393 occured because not all migrations are run in the test suite. This is because they have to be actively maintained as well which is not obvious and error prone.

See https://github.com/rpush/rpush/blob/7fbdd1162489413f2132041b25e02d9e1ebda544/spec/support/active_record_setup.rb#L29-L36

/cc @grosser @redross

[2018-01-08 13:59] aried3r opened #400 "Test using Ruby 2.5 on Travis CI"

[2018-01-08 14:30] mcelicalderon commented on #393
If you want to use v3.0.1 you can just update `_rpush_3_0_1_updates` migration line 5 and 11 from `rapns_notifications` to `rpush_notifications`. `_add_rpush` migration renames the table

[2018-01-08 15:52] aried3r commented on #393
Should be fixed in the 3.0.2 release. Feel free to reopen if it's not.

[2018-01-08 15:52] #393 closed

[2018-01-09 13:59] sveredyuk opened #401 "Daemon health check"
I have a task to health check rpush daemon periodically. I cannot found anything in source code about status..

[2018-01-09 15:16] aried3r commented on #401
[Really?](https://github.com/rpush/rpush/search?p=1&q=status&type=&utf8=%E2%9C%93) ;)

I haven't tried accessing that status via Ruby since I run Rpush as a daemon, where I use `rpush status` to check the status.

It should display something like:
[code]

Hope that helps!

[2018-01-09 15:35] sveredyuk commented on #401
It's status for embedded process, but if it runs as separate process?

Yeah, it's from system, but I need health check it from rails app.

[2018-01-15 03:22] butchmarshall opened #402 "Rpush::Client::ActiveRecord::Gcm::Notification - cannot update data child key values."
I'm not sure if this is by design or not?

[code]

Won't update the array.

I think is is due to how attribute updates are handled in `https://github.com/rpush/rpush/blob/master/lib/rpush/client/active_record/notification.rb`

[code]

`attrs.merge(data || {})` will never let me modify the trails key ever again. e.g.

[code]

[2018-01-15 12:43] aried3r commented on #395
Closing for now. I'll re-open if necessary.

[2018-01-15 12:43] #395 closed

[2018-01-16 14:47] aried3r commented on #401
I'm not quite sure I understand completely. To avoid confusion, can you reiterate how you run Rpush and what you want to do exactly?

[2018-01-16 14:49] aried3r commented on #284
Server key, yes.

[2018-01-16 14:49] aried3r commented on #284
@vokrut, the server key is needed.

[2018-01-16 14:51] sveredyuk commented on #401
I run rpush like a separate daemon. I need health check it to be sure that process running is OK.

[2018-01-16 14:58] aried3r commented on #401
Hmm, I do very basic checks. Basically I check if a process exists with the PID in `rpush.pid` and if not, start that process.

There's some examples that do this or almost, but they are so old, so no idea if they still work. https://github.com/rpush/rpush/tree/master/examples

Programmatically, I don't know, sorry.

[2018-01-18 13:03] aried3r commented on #363
Hey there, sadly I don't use APNS at all so I can't really help you. But if anyone wants to chime in or submit a PR I'd be happy to merge and release that. Given that I don't use APNS and thus have little knowledge about it, I would need somebody else to review it.

I have a few questions though, is the `apns-topic` a mandatory field? Is there documentation for that? If it is mandatory, then I thi

[2018-01-19 05:04] Babbz75 commented on #363
@aried3r I believe it's only mandatory in Apns2 and I'm not sure about the documentation part.

For anyone who runs into this problem in the future you just need to add a similar merge into the data section when sending push notifications:
`@data.merge!(headers: { 'apns-topic': ENV['APNS_BUNDLE_ID'] }) if ENV.key?('APNS_BUNDLE_ID')`

[2018-01-22 13:22] vizvamitra opened #405 "Clarifcation on service settings needed"
Hello!

I'm currently trying to implement MQTT service support. MQTT client requires some settings and it seems that they should be provided by `Rpush::MQTT::App` which I should implement.

As I've understood, the general principle is to store app settings in a database. In PRs with new services people just add settings their apps need to `rpush_apps` table. But MQTT client needs lots of settings,

[2018-01-24 14:21] sveredyuk commented on #360
Hey guys, I am trying to move from APNS to APNS2. For APNS I used certificate, If I correctly understand the doc, everething that I should to change app from Apns to Apns2 and change certificate entry ?

[2018-02-01 19:18] jurgens commented on #348
It looks like Rpush stores certificate in a table. I have rejected old certificate and generated a new one, but it was still using an old one from the database. So I had to wipe it out with ```Rpush::Apns::App.destroy_all```

[2018-02-06 07:20] Ritesh-Katare commented on #333
I am having slightly different issue,  Delivered but not received at device (iOS) this happens sometimes, sometime push notification get received at iOS.

[2018-02-06 07:35] Ritesh-Katare opened #406 "Upgrade from 2.7 to 3.0, application side changes."
I want to upgrade Rpush to 3.0 which is a backwards incompatible.
Please help me with changes i have to do before and after upgrading Rpush.
I am using
Rpush 2.7.0
Rails 4.2.6
Ruby 2.3.1

[2018-02-07 08:36] nattfodd commented on #406
Breaking changes in 3.0:

According to your environment and unless you're using MongoDB as a storage, you should not have any incompatibility issues.

[2018-02-07 08:54] Ritesh-Katare commented on #406
@nattfodd Thanks man! I'm not using MongoDB.

From Rpush changelog https://github.com/rpush/rpush/blob/master/CHANGELOG.md#300rc1-2017-08-31
Make synchronizer aware of GCM and WNS apps, what does extra implementation is required?

[2018-02-07 08:58] nattfodd commented on #406
I don't see any extra implementations requiter for that, that's about rpush internals.

[2018-02-07 10:29] Ritesh-Katare commented on #406
After upgrading to 3.0, which is correct way to call APNS2
Rpush::Apns::Notification.new OR Rpush::Apns2::Notification.new?

[2018-02-07 10:31] Ritesh-Katare commented on #406
I guess Rpush 3.0 Rpush::Apns::Notification.new will call Apns2 by default, Is it?

[2018-02-07 10:31] nattfodd commented on #406
It should be both fine with Apns, but I would stick with `Rpush::Apns2::Notification` to match the app. The important part is to have `Rpush::Apns2::App` created instead of `Rpush::Apns::App`.

[2018-02-07 10:35] Ritesh-Katare commented on #406
Thanks again @nattfodd.

[2018-02-07 10:57] aried3r commented on #406
Don't forget

I'm closing this since I think everything has been clarified. Thanks @nattfodd!

[2018-02-07 10:57] #406 closed

[2018-02-07 11:55] Ritesh-Katare commented on #406
@nattfodd  @aried3r rake aborted!
Mysql2::Error: Table 'push_notifications' already exists: RENAME TABLE `apns notifications` TO `push_notifications`
After bundle exec rpush init and bundle exec rake db:migrate.

[2018-02-07 21:24] ademars94 opened #408 "Rpush says notification was delivered and then immediately says notification failed"
I am running in development mode using APNS on Rpush `3.0.2`.  When I (intentionally) try to send a notification to an invalid token, it triggers the `on.notification_delivered` method and then immediately triggers the `on.notification_id_failed` method.  The `on.notification_failed` method is never called.

The notification is not being delivered, so I don't know why the `on.notification_delivere

[2018-02-08 08:38] ronyfhebrian commented on #284
What is registration_id in rpush FCM and how to get it?

[2018-02-08 18:48] loadhigh opened #409 "Rpush::Daemon::AppRunner.runners not defined"
https://github.com/rpush/rpush/blob/54f28a67f7fa2bc86b07b7b3e36d2042dd20329e/lib/generators/templates/rpush.rb#L45

The suggestion to call Rpush::Daemon::AppRunner.runners does not work as it is undefined.

[2018-02-08 18:56] loadhigh opened #410 "@notification.app triggers loading of association :app"
https://github.com/rpush/rpush/blob/54f28a67f7fa2bc86b07b7b3e36d2042dd20329e/lib/rpush/daemon/gcm/delivery.rb#L146

We already have @app and do not need the an extra trip to the DB for each notification sent. The db query is outside of the with_database_reconnect_and_retry block, which is a problem.

[2018-02-08 19:04] loadhigh opened #411 "app validation in notification triggers the loading of the association"
https://github.com/rpush/rpush/blob/54f28a67f7fa2bc86b07b7b3e36d2042dd20329e/lib/rpush/client/active_model/notification.rb#L8

If the caller does not reuse the app object when creating notifications, each notification creation causes a record dump from db that includes the entire APNS certificate. A simple optimization is to validate the presence of :app_id instead of :app

[2018-02-15 09:48] spaghetticode opened #413 "Rpush with systemctl"
I think the readme could be clearer about how to make rpush work nice with `systemctl`: unless you add the -f flag the command `rpush start` will not work correctly when supervised by systemctl.

This happens because, as you correctly wrote, rpush deamonizes by default when started with `rpush start`.

Having an explicit suggestion about `rpush start -f` for not daemonizing the service (and playin

[2018-02-22 14:01] #400 closed

[2018-02-22 14:38] aried3r commented on #365
It's possible if you handle the notification payload yourself. I think this article describes exactly that: https://www.raywenderlich.com/156966/push-notifications-tutorial-getting-started

[2018-02-22 14:38] #365 closed

[2018-02-22 14:39] aried3r commented on #346
Closing since there was no more activity. I'll reopen if necessary.

[2018-02-22 14:39] #346 closed

[2018-02-22 14:40] aried3r commented on #147
Seems this was resolved, closing.

[2018-02-22 14:40] #147 closed

[2018-02-22 14:41] aried3r commented on #349
This has been released now in 3.x. Please feel free to open a new issue if you feel this was not resolved.

[2018-02-22 14:41] #349 closed

[2018-02-22 14:43] aried3r commented on #265
Hey @nwittstruck, is this still an issue for you? I'm doing a bit of cleanup on old issues and I'm gonna close this. Should this still occur, please feel free to open a new issue or reply here.

[2018-02-22 14:43] #265 closed

[2018-02-22 14:50] aried3r commented on #159
@SofiaSousa, I described how to help us debug this issue [here](https://github.com/rpush/rpush/issues/346#issuecomment-289218776). It shouldn't be an issue with rpush itself I think, since the request goes through, but the client (rpush) sent the wrong payload. In this case, the wrong `auth_key`.
Can you verify everything is correct?

I'm closing this issue since from the stacktraces and errors it

[2018-02-22 14:50] #159 closed

[2018-02-22 14:56] aried3r commented on #284
@ronyfhebrian, it's the devices [registration token](https://firebase.google.com/docs/cloud-messaging/android/client#sample-register). The link shows how to get it on Android.

[2018-02-22 14:59] aried3r commented on #175
Closing. Btw, setting a title on a notification works for us on iOS 10 and 11. Haven't tested with 9.

[2018-02-22 14:59] #175 closed

[2018-02-22 15:03] aried3r commented on #260
Closing, I could not reproduce this issue with PostgreSQL for persistence, maybe it's only for redis, but unless we get a reproducible error case for this, I'm in favor for leaving the code as it is.

I can vouch that it works as intended for FCM for both Android and iOS.

Should you think this is still an issue, please leave a short reply. :)

[2018-02-22 15:13] aried3r commented on #413
@spaghetticode, I don't use rpush using systemctl but was actually planning to look into that. I – and I think many others as well – would be really grateful if you could improve the documentation on that.

[2018-02-22 15:20] aried3r commented on #405
Hey!

I feel the same as you that the `rpush_notifications` table is not the best place to put things anymore. The more services get added, the more fields there are and the harder it gets to grasp which fields are needed for which service. Some fields are used by multiple services, but need different values, resulting in hacks.

I also thought about not having fields at all but just throw it in a

[2018-02-22 22:15] loadhigh opened #416 "APNS expiry should be number of seconds since epoch"
https://github.com/rpush/rpush/blob/75863e6fea64cb892687a1d37c81a81cf1650e88/lib/rpush/client/active_model/apns/notification.rb#L84

In here the expiry with default of 86400 is effectively 0 and APNS will not resend the notification if the device is off.
`APNS_DEFAULT_EXPIRY` is not needed because the attribute has default value of 86400
`frame << [4, 4, expiry ? Time.now.to_i + expiry.to_i : 0].p

[2018-02-23 12:39] aried3r commented on #416
Hey! Thanks for looking into the code and opening issues :)
Are you using rpush already or just evaluating if you would?

I wondered, would you be up for opening a few PRs for that as well? No obligations, of course

[2018-02-27 10:40] aried3r commented on #325
Hey, since I'm not using rpush-redis, can anyone tell me if this is still an issue with Modis 2.x? Otherwise I'd close this issue.

[2018-02-27 10:57] milgner commented on #325
This has been resolved by the modis upgrade!

[2018-02-27 12:45] aried3r commented on #325
Thank you for the quick feedback!

[2018-02-27 12:45] #325 closed

[2018-02-27 14:41] vizvamitra commented on #405
@aried3r perhaps it is possible to simplify things for guys who want to write their own push services as separate gems.

Here is what came to my mind as a possible temporary solution:

- Create two json fields in Rpush::Application and Rpush::Notification for third-party push services to store their settings
- Make the migration optional for those who use ActiveRecord. If they want to use third-pa

[2018-02-27 15:08] vizvamitra opened #417 "Feature request: notification prioritization"
In our company we have two major use cases for Rpush:

1. We use it for our push campaigns. This means that once in a while we create tons of notifications that are than being sent to our user's devices (we have quite a lot of them).
2. Time to time we need to send notifications to specific devices

In case 1, GCM (we still use those) notifications are being sent quite fast because one Rpush::Gcm:

[2018-02-28 10:28] Ritesh-Katare opened #418 "Rpush 3 APNS app NoMethodError, undefined method `to_sym' for nil:NilClass Did you mean? to_s"
I have upgraded Rpush 2.7 to 3.0.2, When tried sending push notification got following error in Rpush log :

  Rpush::Client::ActiveRecord::App Load (0.3ms)  SELECT  `rpush_apps`.* FROM `rpush_apps` WHERE `rpush_apps`.`id` = 16 LIMIT 1
[2018-02-28 10:42:36] [1317761734] Starting 1 dispatcher...
[2018-02-28 10:42:36] [ERROR] [1317761734] Exception raised during startup. Notifications will not be de

[2018-02-28 11:01] Ritesh-Katare commented on #418
This was due to environment is nil for apns app. After updating environment, error gone.

[2018-02-28 11:02] Ritesh-Katare commented on #418
After fixing above, Got new error

[2018-02-28 10:58:39] [ERROR] URI::InvalidURIError, bad URI(is not URI?):
/home/CityApp1/.rvm/rubies/ruby-2.3.1/lib/ruby/2.3.0/uri/rfc3986_parser.rb:18:in `rescue in split'
/home/CityApp1/.rvm/rubies/ruby-2.3.1/lib/ruby/2.3.0/uri/rfc3986_parser.rb:15:in `split'
/home/CityApp1/.rvm/rubies/ruby-2.3.1/lib/ruby/2.3.0/uri/rfc3986_parser.rb:73:in `parse'
/home/CityApp1

[2018-02-28 11:35] #418 closed

[2018-03-02 05:34] superchen14 opened #422 "Does this gem support apns-collapse-id?"
IOS10 notification can support collapse function via apns-collapse-id request header (see [here](https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html#//apple_ref/doc/uid/TP40008194-CH11-SW13))

Does this gem support apns-collapse-id?

[2018-03-06 12:33] Ritesh-Katare opened #424 "Rpush3 rpush_notification processing flag"
After trying to send notifications rpush updates flags failed, delivered on basis of status of delivery.
There is one more flag ie. 'processing', what is it meant for?

Rpush retries only for notifications which has processing flag false.
But there are notifications in rpush_notifications table which has failed, delivered is zero and processing as 1.

@aried3r @nattfodd

[2018-03-08 02:00] hmistry opened #425 "Reconsider removing Gemfile.lock from repo"
This is in regards to the following commits: https://github.com/rpush/rpush/commit/ff9a3dd39b5a25ca099886d5166dac24f23b9b64 and https://github.com/rpush/rpush/commit/ff9a3dd39b5a25ca099886d5166dac24f23b9b64

@aried3r Yehuda's recommendations to not check-in the lock file made sense at the time when locking dependencies was not a big practice, and it made sense to place the burden of having the CI'

[2018-03-08 10:59] aried3r commented on #425
Great! I kinda thought the article was outdated but didn't stumble across your article back when I did the commit. I'll definitely re-add the `Gemfile.lock`. (Also grateful for PRs, haha)

I have two questions if that's ok. Is there anything we can do looking forward to Bundler 2.0 with `gems.rb`? Also, is the discussion David Rodriguez brought up available anywhere? I'd love to read up on that, y

[2018-03-08 12:37] #410 closed

[2018-03-08 12:48] #416 closed

[2018-03-08 12:59] #411 closed

[2018-03-09 00:36] hmistry commented on #425
Regarding `gem.rb`, it seems bundler 2.0 will support it but `Gemfile` will still remain.

There was some discussions in Slack but I got more info talking to him and Andre directly. This gist of it is in the comment above. It's always nice to learn the context.

[2018-03-09 09:29] superchen14 commented on #422
@ileitch it's seems the implementation of rpush following APNs legacy binary interface. So there is not chance to implement apns-collapse-id in this gem.

[2018-03-09 23:51] ileitch commented on #422
@superchen14 https://github.com/rpush/rpush/blob/master/lib/rpush/daemon/apns2/delivery.rb

[2018-03-16 03:55] superchen14 commented on #422
@ileitch thanks for showing me this code, after research I find out the latest gem support "apns-collapse-id". Here is the sample code.

[code]

[2018-03-17 06:26] #422 closed

[2018-04-02 11:00] naveen1336 opened #427 "docs for safari notification?"

[2018-04-03 16:42] sungsong88 commented on #363
@Babbz75 Omg. Thank you so much! just adding that to my data for my Apns2 solved my issue! No more MissingTopic!!

[2018-04-11 11:07] aried3r commented on #425
Hey, I'm planning to do this this week. Seeing as you are the author of the article, what is your opinion regarding CI? Using option 1 (`rm Gemfile.lock`) or option 2 (bot)?

[2018-04-11 12:36] hmistry commented on #425
Option 2 with Dependabot is a really nice because it'll generate a PR like this [example](https://github.com/greysteil/ruby-test/pull/4) and you simply merge it. The downside is other PR's are not tested against latest dependencies.

I personally prefer option 1 but instead of removing the Gemfile.lock, have 2 Gemfiles - one with a lock and the other without. The trade-off with this is travis will

[2018-04-16 16:14] #425 closed

[2018-04-18 06:53] kntmrkm opened #430 "capistrano deploy"
![kapture 2018-04-18 at 15 41 36](https://user-images.githubusercontent.com/2703486/38915549-18dac492-431f-11e8-86d0-1b3594e38a58.gif)

- Capistrano 3.10.2, 3.10.1
- Rails 5.2.0, 5.16
- Rpush 3.1.1

`bundle exec rpush start -f -c config/initializers/rpush.rb -e production`

capistrano deploy process does not finish.

<img width="673" alt="1__ruby" src="https://user-images.githubusercontent.com/270

[2018-04-18 14:10] umair50 opened #431 "what is app.auth_key?"
I am trying to use this gem with firebase and for auth_key i have tried all the following from firebase

Web API Key
Server key

 but i get the error

 Rpush::DeliveryError, Unable to deliver notification 5, received error 401 (Unauthorized, check your App auth_key.

[2018-04-18 14:35] aried3r commented on #431
Hi! I explained this here https://github.com/rpush/rpush/issues/346#issuecomment-289218776, please do test with Postman or similar tool like HTTPie to verify everything works. This shouldn't be an Rpush issue I think.

But I guess we should document it somewhere.

[2018-04-18 14:35] #431 closed

[2018-04-18 17:01] hmistry commented on #425
There's no set convention. People in Bundler team don't ship specs with the gem. With Readme's it's a toss up - it depends on what percentage of your users open the installed the gem directory to read documentation and code vs going to the github repo.

[2018-04-19 10:52] aried3r commented on #219
I don't think anyone is working on this yet. But PRs are welcome, as always. I think using the legacy API it should be fairly simple to implement.

See _Topic HTTP POST request_ (way down in the legacy section) of https://firebase.google.com/docs/cloud-messaging/send-message.

This might also solve https://github.com/rpush/rpush/pull/293 since it also implements and requires a `to` key, just like

[2018-04-20 07:55] L3K0V commented on #219
Guys,

You can check this. I have implemented and currently I'm using in production this branch with support of FCM. Topics are supported and there are resolved some issues regarding FCM not accepting the payload. The changes are from July last year you can take a look and is kinda up-to date.

https://github.com/L3K0V/rpush/tree/fcm

[2018-05-01 20:12] DanielJunior commented on #333
@psaravanan, your registration_ids is nil. May be this?

[2018-05-03 04:33] Exact1990 opened #432 "FCM && Emoji"
Problem with displaying emoji on android devices:

n = Rpush::Gcm::Notification.new
n.app = Rpush::Gcm::App.find_by_name("android")
n.registration_ids = ["token"]
n.data = {:action=>"", :extraId=>nil, :timestamp=>Time.current.to_i, :title => "Заголовок 😉", :message=>nil, :sound => 'default'}
n.priority = 'high'
n.sound='default'
n.content_available = true # Optional
n.save!

![screenshot_20180503-

[2018-05-03 04:55] Exact1990 commented on #432
Found the cause: https://github.com/rails/rails/issues/3727

[2018-05-03 05:12] #432 closed

[2018-05-03 08:39] aried3r commented on #432
Hey! Glad you found a solution. Would you like to share your solution so others can profit it from it if they stumble upon this in the future? :)

Saying that, I couldn't reproduce this on our setup.

[2018-05-03 09:01] Exact1990 commented on #432
This problem appears to be common in older rails versions (up to 3.3). The solution in the form of a monkey-patch describes on the url page

[2018-05-04 14:12] MSeneadza opened #433 "RPush in a multi-tenant app not sending messages..."
I'm using Rpush in an app that also uses the Apartment gem to manage multi-tenancy on Postgresql.  Apartment essentially changes the target Postgres schema for ActiveRecord so the queries access the correct tables (schema) for the current tenant.

In my case, I have tenants (and Postgres schemas) by country.  The US is my default (which aligns to my 'public' Postgres schema).

I have Rpush tables

[2018-05-04 14:42] wedercm opened #434 "Rpush to iOS with FCM"
I would like to use FCM rather than APNS to send iOS notification. Is it possible?

I configured APP iOS in FCM and tried to send notification using Rpush like I send to Android app. But isn't worked. I'm doing as in the example below

[code]

[2018-05-04 19:12] aried3r commented on #434
Yes, it's definitely possible, we use it in production.

I think you have to set `title` and `body` in the notification payload, not the `data` payload.

Something like this should work:
[code]

[2018-05-09 13:51] nikolai-b commented on #284
I came here because it is linked to in the readme.

@aried3r I think this might need re-opening

[2018-05-09 14:01] aried3r commented on #284
Yep, you are right! I read about this too. There's also structural changes to the payloads, which I want to test out at work first.

I think it might also be a good time to *really* replace all occurrences of GCM in the code. This might break compatibility so maybe it's going to be in 4.0.

I don't really have much time currently to work on Rpush, so I'm happy for every contribution. :)

[2018-05-09 14:02] aried3r commented on #434
Closing. Feel free to reply if you think your issue is not solved by Rpush.

[2018-05-09 14:02] #434 closed

[2018-05-09 14:03] aried3r commented on #427
Closing since there was no feedback. If this is not resolved for you by Rpush, feel free to reply or open a new issue.

[2018-05-09 14:03] #427 closed

[2018-05-10 09:59] nikolai-b commented on #284
Once I've settled in using rpush I might be able to look at helping.
Thanks.

[2018-05-17 22:27] CodingAnarchy commented on #380
This has been removed now in Rails 5.2, and I don't know if it has been dealt with.  I'm getting around it by simply removing the field in my local copy of the migration, but if there is a better way, I'm all ears.

[2018-05-24 19:44] Babbz75 commented on #380
@CodingAnarchy when you say remove the field you mean like from this:
`        remove_index :rapns_notifications, name: "index_rapns_notifications_multi"
      elsif index_name_exists?(:rapns_notifications, "index_rapns_notifications_on_delivered_failed_deliver_after", false)
        remove_index :rapns_notifications, name: "index_rapns_notifications_on_delivered_failed_deliver_after"
      end`
t

[2018-05-24 19:50] fagianijunior commented on #380
Any solution?

[2018-05-24 19:53] CodingAnarchy commented on #380
@Babbz75 Pretty much, although the default `false` doesn't need to be negated either.  All the migrations are of the form `if index_name_exists?(<index>); remove_index <index>; end`

[2018-05-24 20:13] fagianijunior commented on #380
OK,
index_name_exists? in changed, and no more need the boolean in params.
Removing the "true"or "false" in all index_name_exists? works for me.

references: https://github.com/rails/rails/commit/8f5b34df81175e30f68879479243fbce966122d7

[2018-05-24 21:20] aried3r commented on #380
The solution is in this PR, but it hasn't been merged or released yet. https://github.com/rpush/rpush/pull/390

[2018-05-31 09:17] yashka713 commented on #281
I found new straight thing. I got the same problem as @rvsingh  with `Rails 5.2` and `ruby 2.5.1`.
The error was:
[code]
Also, I added initialize code to the `config\initialializers\rpush.rb`
[code]
The commenting code in `initialializers` resolved problem.
thx

[2018-06-03 19:20] daniel-nelson commented on #212
Is this documented anywhere? I missed the fact that push notification records are stored indefinitely until we started throwing Redis memory errors this morning because after 8 months of push notifications, we'd used up all our memory. If it isn't documented, I'd be happy to make a pull request to the readme (or perhaps simply update the Redis Wiki with a possible solution).

[2018-06-07 19:02] armahmoudi commented on #409
Is there another way to check the internal queue size?

[2018-06-07 19:04] armahmoudi commented on #408
From what I saw in the code, the APNS delivery code always marks notifications as delivered. Probably because APNS doesn't provide any synchronous response to be able to tell if the notification was received and would be sent.

APNS2 delivery code however does call delivered based on the response code.

[2018-06-11 09:33] aried3r commented on #195
Hey! I'm closing this since this is quite old an newer versions of rpush and modis have been released. If you still experience this issue or were able to solve this, please feel free to share your solution or open another issue. :)

[2018-06-11 09:33] #195 closed

[2018-06-12 05:15] troya2 commented on #369
This would be a great addition to the library.  Non expiring keys are so much more practical for a production system.  One less thing to deal with every year.

[2018-06-12 14:32] aried3r commented on #389
I don't think there's a public API for this yet.

There's these checks which give you somewhat of a warning using the reflection API (`on.ssl_certificate_will_expire`):
https://github.com/rpush/rpush/blob/644ba8fd5372aa974eb42c1db42a1ebf8ed35604/lib/rpush/daemon/tcp_connection.rb#L165-L187

Also you could roll your own solution using similar code or add this to Rpush. Since I don't use APNS, I can

[2018-06-12 14:37] aried3r commented on #369
I'm not completely sure since I don't use APNS, but I think this is part of #386.

[2018-06-12 15:37] aried3r commented on #322
This will be in the upcoming 3.2 release.

[2018-06-12 15:37] #322 closed

[2018-06-12 17:35] JpegDev commented on #389
You can also use fcm only. Thus google manage certificate expiration.

[2018-06-13 12:58] aried3r commented on #152
Closing because no new reports of this have come in and a lot has happened since then in the codebase. Feel free to open a new issue if you think this is still an issue with the current Rpush release!

[2018-06-13 12:58] #152 closed

[2018-06-13 13:31] aried3r opened #435 "Update jwt to 2.x"
I missed that in #386.

[2018-06-14 12:46] gregblake opened #436 "How to Set Redis Keys to Expire?"
Our application is configured to use Redis with Rpush. The Redis keys are not expiring, which is causing memory usage growth over time.

In order to limit this growth, we've considered adding a scheduled task to prune old keys, but have also discussed configuring Rpush such that keys will [expire](https://redis.io/commands/expire) after a certain amount of time.

Is having keys expire after a cert

[2018-06-14 13:29] aried3r commented on #212
Hey @daniel-nelson! I don't think this has been documented anywhere so far. I'm not sure where I stand between README and Wiki. The README is always versioned the same as current codebase whereas the Wiki is also versioned, but can be "out-of-sync" with the releases.

But since the Wiki can be edited by the community, I find this a big plus. Could you maybe make a PR to the README and if you wish,

[2018-06-15 15:37] atlanim opened #437 "Rpush notification save problem"
Hello i have an issue with Rpush, i want to send a notification without save it, because i don't need it.

and when I save the notification, I receive them with a late notification.

this is my code :
 if $array_devices[:ios]
        $array_devices[:ios].each do |ios_phone|
          app = Rpush::Apns::App.new
          app.name = "ios_app10001"
          app.certificate = File.read("certificat_io

[2018-06-18 16:20] armahmoudi commented on #409
@loadhigh I looked into the code and `runners` isn't public anymore, but you can access `status` which includes `app_runners` info. I have this code to aggregate the queue size for each app:

[code]

[2018-06-27 17:57] armahmoudi opened #439 "Rpush Memory Leak"
I'm using the CLI to run an Rpush daemon and i'm using Redis. It appears that the Rpush daemon has a memory leak which causes the process to consume more and more memory until the instance runs out of memory, then it causes notifications to be dropped (they stay in the queue but won't get a success/failure update), and sometimes get stuck in the internal queue.

These issues don't happen if there'

[2018-06-27 20:05] aried3r commented on #439
Does Rpush use more and more memory or Redis? Redis is a known "issue", it was recently added as a gotcha in the README https://github.com/rpush/rpush#cleanup

[2018-06-27 21:09] armahmoudi commented on #439
@aried3r I'm talking about the application memory on the server, not Redis. I was aware of notifications not being cleaned up from Redis and had put a mechanism to destroy each notification on any success/failure reflection. That part works great as long as the application doesn't run out of memory.

[2018-06-27 21:12] armahmoudi commented on #439
@aried3r I'm trying to use Rpush for all of our Push Notifications at Tesla, and this is the main blocker to take it to production right now. Would appreciate any help I can get. Would be happy to contribute to the repository as well once we do find the issue.
Right now I'm trying to detect what's the cause of this growing memory usage on the process, and my suspicion is on the feeder and dispatch

[2018-06-28 21:00] armahmoudi commented on #178
I have seen this happen for both 100% CPU usage and high memory usage, when using Rpush as a daemon.

[2018-07-04 16:51] aried3r commented on #439
Hey! Sorry for the silence, I was gone for the week.

Hmm, that's really strange. I haven't seen that behaviour before in production and you're the first to report it, but maybe you use it at a different scale at Tesla :)
But I am also not using Redis but Postgres for persistence with FCM. Could you describe your setup in more detail (Ruby, Rpush version etc)?

Sadly I don't have a lot of insight

[2018-07-07 02:13] armahmoudi commented on #439
@aried3r could it be that the [InterruptibleSleep](https://github.com/rpush/rpush/blob/master/lib/rpush/daemon/interruptible_sleep.rb#L5) is leaking dead threads?

[2018-07-09 07:17] DanaNussair opened #440 "Rpush fails at executing migrations"
I am trying to set up Rpush in my rails app and every time I try to migrate the installed migrations, it fails at the first migration file and gives this error:

[code]
I did exactly as mentioned in the Rpush README (getting started). I don't know if this is relevant information but for the sake of argument; I've tried this on new generated apps, one set up with Postgress database and another with

[2018-07-09 13:31] aried3r commented on #439
It could be, but if I read the code and your heap dumps somewhat correctly, there's only `Kernel.sleep` "in" the threads, but it leaks the most memory. But judging from the ref counts, it might be modis (but might just be because of the number of notifications).

I did a bit of googling, and it could be that the values of the thread are [being retained](https://gist.github.com/ryanlecompte/3281509

[2018-07-09 17:39] armahmoudi commented on #439
@aried3r I ran a memory benchmark and it seems like we need to set `@thread = nil` at the end of each `stop` as well: https://github.com/rpush/rpush/pull/441

[2018-07-10 12:32] aried3r commented on #440
Hey! I think there might be a few lines missing from that stacktrace, but it might be related to #390. Are you using Rails 5.2?

[2018-07-10 12:34] aried3r commented on #436
Hey! Sorry for the long silence. I am not using Redis myself and haven't written any of the redis integration code of Rpush. There was recently a similar request and an additional section was added to the README and Wiki. https://github.com/rpush/rpush#cleanup

Hope this helps!

[2018-07-10 12:34] #436 closed

[2018-07-10 12:47] sonxurxo opened #442 "Validation error (apn_key is too long) when reading the APNs .p8 key"
Hi all

I'm trying to send a notification to an iOS device using the .p8 key. I followed the instructions in the README, reading the key directly from the .p8 file, and a SQL error raises telling that the `apn_key` is too long (257 VS the 255 default length for the Varchar column generated in the migration, at least in MySQL).

I think those 2 extra chars are used for the 2 new-lines in the key fi

[2018-07-10 12:50] aried3r commented on #442
/cc @mariannegru, do you know anything about this?

[2018-07-10 12:50] gregblake commented on #436
That looks like a great solution. Much appreciated, @aried3r.

[2018-07-10 12:55] Donatello88 commented on #440
This is all I get:
[code]

My Rails version is 5.2.0

[2018-07-10 13:02] aried3r commented on #439
3.2.1 is now released https://rubygems.org/gems/rpush

Mind taking it for a spin so we can confirm this is indeed fixed?

[2018-07-10 13:02] aried3r commented on #440
Yeah, I think this is related to #390. I'll try to get that out soon.

[2018-07-10 16:52] aried3r commented on #312
Closing this since there have been no additional reports of this and I couldn't reproduce it locally.

If anyone is still facing this issue, please open a new issue.

[2018-07-10 16:52] #312 closed

[2018-07-10 16:53] aried3r commented on #295
Closing, since this doesn't seem to be an error with Rpush.

[2018-07-10 16:53] #295 closed

[2018-07-11 07:30] Donatello88 commented on #440
Thank you very much, the migrations finally worked.

[2018-07-11 10:37] #435 closed

[2018-07-13 17:39] jsantos opened #446 "Relax jwt version dependency"
Context: https://github.com/rpush/rpush/pull/444#issuecomment-404892133

We should set the dependency as `s.add_runtime_dependency 'jwt', '>= 1.5.6'` in order to ensure support of older versions of `jwt` (and gems depending on it).

[2018-07-13 18:21] sposinff commented on #446
Thank you! (I would be happy to do it, but I can't quite get the rpush tests to run locally)

[2018-07-13 18:45] aried3r commented on #446
Just submit a PR, let Travis do the work :)

Not sure if we need a separate Gemfile for JWT 1 and 2.

[2018-07-13 21:54] sposinff commented on #446
PR #447

[2018-07-14 06:14] jsantos commented on #446
Guess it's also time to submit a PR to include development guidelines on the README (for those who aren't familiar with [Appraisal](https://github.com/thoughtbot/appraisal).

[2018-07-16 11:40] aried3r commented on #446
@jsantos, good idea. Would you be up for that? :)

#447 is merged, closing.

[2018-07-16 11:40] #446 closed

[2018-07-17 16:06] armahmoudi commented on #439
made it a little better, but not good enough. The Modis model attributes are still retained for some reason.

[2018-07-18 06:11] jsantos commented on #446
@aried3r Yup, I can add some basics there. I'll get a few guidelines from [Paperclip](https://github.com/thoughtbot/paperclip/blob/master/CONTRIBUTING.md)'s repo, as it looks pretty good to me.

[2018-07-18 08:48] mariannegru commented on #442
I think we need to add a migration to change the column type to :text

[2018-07-18 09:04] sonxurxo commented on #442
I fixed this in my project just extending the limit to 257 chars to avoid changing the data type. But maybe this can lead to issues in the future.

[2018-07-18 14:21] aried3r commented on #442
Ok, since I don't use APNS I had to read up on that a bit, please correct me if I'm wrong.

So a `.p8` file is a PEM-encoded, unencrypted PKCS#8 file. If I understood [RFC5208](https://tools.ietf.org/html/rfc5208) correctly, it makes no assumptions on key length, especially considering padding I guess the length can vary a bit.

Should we even set any kind of limit?

[2018-07-18 14:54] sonxurxo commented on #442
I think you're right, I didn't even read that RFC. So I guess changing column type to :text should work.

[2018-07-23 11:28] abygeorge opened #448 "Error when running migration"
[code]

[2018-07-23 11:48] aried3r commented on #448
Hey! It seems you are using SQL Server using TinyTDS. Rpush doesn't currently officially support SQL Server.

As it's a community project, we heavily rely on contributions by the community. So if you want to see compatibility in Rpush, feel free to send a PR! I know it's not much, but any help is greatly appreciated :)

[2018-07-23 11:50] aried3r commented on #439
Oh, that's too bad :\
Do you think it's a bug within rpush, retaining instances of objects or is it within modis?

[2018-07-23 12:35] abygeorge commented on #448
@aried3r will removing the conditions from index make a huge difference? I'm not quite familiar with TinyTDS, using it since its a client requirement.

[2018-07-24 23:38] armahmoudi commented on #439
@aried3r I think this is an issue with Modis.
The top two memory retainers are Modis and Msgpack which Modis uses.
[code]

[2018-07-30 16:49] jabawack81 opened #449 "notification marked as delivered for old tokens and failed for active tokens"
My situation:
I'm developing an API only rails app that will be used by a multiplatform (Android, iOS and Windows) mobile app developed with Angular and Cordova, to handle the push notification I'm using the [Phonegap Plugin Push](https://github.com/phonegap/phonegap-plugin-push). The current workflow for the app is: in the app I'm retrieving the installation token and, when the user logins in the

[2018-08-02 09:15] aried3r commented on #448
Well, it depends. The index is so that you can more efficiently find notifications that are not yet delivered or failed. So the more notifications you have in your DB, the slower the DB query will probably become without the index to find notifications that have to be sent.

[2018-08-10 14:13] CodingAnarchy opened #450 "APNS: delivery delayed by a day or more"
I'm seeing occassional cases where the delivery of APNS notifications is being delayed for a very long time, and I'm not seeing where this is coming from.  It definitely is somewhere in the Rpush library, though, as the notifications are generally working except for a few which end up having a `deliver_after` timestamp set 12+ hours after the notification record was created in ActiveRecord.

In th

[2018-08-20 13:46] zia954 commented on #433
I am having same issue, i need to switch back and forth to access public schema

[2018-08-28 11:07] robertziel opened #451 "undefined method `changed?' for nil:NilClass"
Hi, after updating to `rails 5.2.1` I have a problem with assigning value for example:
[code]

Which returns error:
`undefined method 'changed?' for nil:NilClass`
It worked before, and after a day of research I did not make much progress. It appears all the time when object related to `rpush` is initialised and assigned params to it like `Rpush::Apns::Notification.new(params)` and so on.

I have f

[2018-08-29 14:45] aried3r commented on #451
I'm using rpush with Rails 5.2.1 in production for a few weeks now and I'm not facing that issue. I also tried with a new Rails project using `rails new rpush_issue_451` and adding Rpush. I can create a new app just fine.

Are you sure it's Rpush? Are you by chance using anything to track changes of models, like the audited or paper_trail gem?

[2018-08-30 13:35] robertziel commented on #451
You are right. The problem is not related with `rpush` but with `rpush-redis` and `modis`, I am not sure which one but problem is when this method is called.
`https://github.com/ileitch/modis/blob/master/lib/modis/attribute.rb#L67`

[2018-08-30 13:39] robertziel commented on #451
It is related to this issue [https://github.com/ileitch/modis/issues/13](https://github.com/ileitch/modis/issues/13), so I think we may close this one. Sorry for problems :)

[2018-09-03 09:17] Benjamin-Dobell commented on #451
Ran into this also when setting up a new environment. Specifically:

[code]

Whilst this is Modis issue, I think the ball may be back in Rpush's court as Modis isn't maintained anymore, so probably ought to be replaced in Rpush:
https://github.com/ileitch/modis/issues/13#issuecomment-386132174

[2018-09-05 18:58] BagpipesJohnson commented on #442
I am running into this issue as well. I think the migration to change the column type to :text should do it

[2018-09-10 03:40] HienNguyenAsnet commented on #294
Same issue

[2018-09-13 10:19] goalaleo opened #452 "APNS2 with HTTP2 returns SocketError"
For some reason I can't send iOS notifications with Apns2 anymore. I'm just getting the following output.
[code]
I tried to create a new `Rpush::Client::ActiveRecord::Apns2::App` to see if that helps, but it didn't.
Any hints on how to resolve this?

[2018-09-18 01:00] troya2 commented on #433
I have implemented this with apartment and added Rpush::App, Rpush::Notification, Rpush::Apns::Feedback models to Apartment's config.excluded_models array.  You can set up two Rpush::App records for each tenant (production and sandbox) and use them to push on behalf of each tenant.

The up side is that it doesn't require any patching of rpush to work with Apartment.  The down side is that all noti

[2018-09-21 13:42] soffes commented on #451
Agree with @Benjamin-Dobell. I had to switch to a different gem ([Houston](https://github.com/nomad/houston)).

[2018-09-24 10:02] webmaster219 opened #454 "RSpec error with mongoid"
I'm using this gem with rpush-mongoid, but just got this error.
![image](https://user-images.githubusercontent.com/3008715/45946624-0597f300-c024-11e8-9d10-2951b19b5611.png)

Please let know me how can I solve this issue.

[2018-09-24 11:00] sonxurxo commented on #442
Just created PR #455 for this.

[2018-09-25 07:45] webmaster219 commented on #454
Hi @ileitch , please check this issue and solve me.

[2018-10-11 13:14] zedtux commented on #442
I'm facing this issue. Any news ?

[2018-10-11 16:52] sonxurxo commented on #442
@zedtux If you need to get this running, maybe you can just change the column type adding a migration like the following to your application:

`change_column :rpush_apps, :apn_key, :text, null: true `

[2018-10-11 18:09] zedtux commented on #442
I did that, thank you @sonxurxo, but this issue is quite embarrassing and should be solved as soon as possible from my point of view.

[2018-10-15 07:10] zedtux opened #457 "Error "Incorrect string value" with MySQL when inserting emojis"
Given I'm using MySQL and I'm writing a message including an emoticon :

[code]

The issue seems to come from the table/column encoding, which is `utf8` by default, on 3 bytes, while emojis seem to use 4 bytes.

MySQL version 5.5.3 and earlier have a `utf8mb4` which should solves the issue.

Here is a blog article summarising everything about this issue : https://blog.arkency.com/2015/05/how-to-st

[2018-10-20 12:00] jsantos opened #459 "Errors while bootstrapping test database"
While working on pull request #458, I've ran into some issues:

- Even by manually creating the database `rpush_test`, an error occurred:

[code]

After digging up a bit, I've found the following on `spec/support/active_record_setup.rb`:

[code]

Since I'm not running the test on Travis, the `down` loop over the reversed list of migrations triggers an error, since the last migration is removing co

[2018-10-20 13:52] aried3r commented on #442
This has been resolved by #455 (thanks @sonxurxo!). However since we're currently facing some failing tests regarding Rails 5.2 in the master branch (that being said, we use Rails 5.2.1 with the latest Rpush at work and are not facing any problems), I cannot in good faith make a new release with this right now.

Sadly I cannot look into this right now, sorry :\. But I think I won't be the only one

[2018-10-20 13:52] #442 closed

[2018-10-22 05:48] mariannegru commented on #442
Thank you @sonxurxo

[2018-10-29 20:36] benrugg commented on #450
I just deployed rpush on a medium size project (350k users), and I am seeing this, too. What I consistently see is a part of a batch (a few hundred notifications at a time) that get stuck in the processing state for hours or even days.

My guess is that the APNs connection occasionally hangs, and rpush doesn't have a timeout on it. Is there any way to add a connection timeout? Or return the backlo

[2018-10-29 20:38] benrugg commented on #424
@Ritesh-Katare, I believe the processing state is used internally by rpush when it grabs a batch of notifications to send out. So `processing` == true would be notifications that are currently in memory and will be sent out. I haven't seen a case where `processing == true` and `failed == true`

[2018-10-31 12:52] CodingAnarchy commented on #450
Just to add my 2 cents, since I am still running into it and see a "live" batch stuck in processing right now.  It looks like @benrugg is correct and the messages get stuck in processing and just wait until a connection is restored.

I have since updated to Ruby 2.5.3, Rails 5.2.1, and Rush 3.2.4 without any change in behavior.

[2018-10-31 15:46] benrugg commented on #450
Thank you for chiming in @CodingAnarchy. I have been monitoring this more closely in the last few days, and it happens in my application 10-20 times a day. It holds up the remaining notifications in that batch, and the reconnection delay duration has a wide range. Sometimes it continues to send after a few minutes, and sometimes a few hours.

This was actually a bug in the last APNs library I was

[2018-10-31 15:47] benrugg commented on #450
Oh, I am using the Apns8 connection. @CodingAnarchy, are you using that as well?

[2018-10-31 17:20] CodingAnarchy commented on #450
@benrugg I am using the old Apns setup.  We haven't migrated to Apns8 yet.  I would suspect there is some common implementation that is the root of the issue if you are seeing it too.

[2018-10-31 18:20] benrugg commented on #450
Good to know. That's interesting, because the two different Apns systems are very different. This definitely narrows down the places to start investigating...

[2018-11-01 15:45] chrisokamoto opened #462 "Validity check failed: Device token is invalid"
Hi.. I faced a problem when trying to create a Rpush::Apns::Notification because the device_token from an user was longer than 64 characters and according to iOS documentation (https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/APNSOverview.html#//apple_ref/doc/uid/TP40008194-CH8-SW14):

So the thing is that in the generators templates you

[2018-11-01 17:59] benrugg commented on #450
I think I may have fixed the issue (at least in my current application environment) by changing the number of Apns connections to 2. I had previously set it to 3 (in the `connections` field of the rpush app in the db).

@CodingAnarchy, are you using more than 1 connection?

[2018-11-01 18:21] CodingAnarchy commented on #450
It looks like we are only using one connection:

[code]

[2018-11-01 18:42] benrugg commented on #450
Gotcha. I was hoping that would help track down the root cause. Thanks for the response!

[2018-11-05 13:45] aried3r commented on #450
Hey! Sadly I cannot really help out with APNS, I haven't used it and have no way to test it. :\
APNS is one of the parts of this gem that heavily relies on community contributions.

[2018-11-05 14:04] benrugg commented on #450
@aried3r, gotcha. I'll keep looking into it and see if I can improve anything.

[2018-11-14 13:59] #462 closed

[2018-11-20 12:07] AkshayGoyal022 opened #466 "FCM supported?"
I am initialising a project which uses push notifications. I went through the documentation and it's not clear how to use FCM. If i have android as well as ios app do i need to do `Rpush::Gcm::Notification.new` with `auth_key` as the firebase's `server_key`? And then just this one app can be used to send notifications to android as well as ios?

Thanks in advance!

[2018-11-20 21:22] benrugg commented on #466
Yes, to use FCM, you just use `Rpush::Gcm::Notification.new` like you said. For the `auth_key`, it's the API key that google provides (which I believe is the server key that you mentioned). And then the result is that you can send notifications to both iOS and Android.

[2018-11-21 05:38] AkshayGoyal022 commented on #466
Thanks for the response.

I have one more question though. As earlier, to send ios notifications we could only send to one device at a particular time but for android notification we could send in bulk. So now if we use FCM and pass all the device tokens in an array, will it work for ios? If yes, what happens in case of delivery error?

[2018-11-21 14:59] benrugg commented on #466
Those are good questions... The way I used rpush, I sent android notifications through FCM and ios notifications through APNs. So I don't have firsthand experience sending everything through FCM. But I can tell you how rpush says it works:

1. in the case of a delivery error, the callbacks in the [Reflection API](https://github.com/rpush/rpush/wiki/Reflection-API) will be called. If only some toke

[2018-11-22 21:06] elhowm commented on #171
@ileitch And three years later? Still need to push for each device? :)

[2018-12-06 16:01] pke opened #467 "Will retry nnn notifications after xxx due to error (HTTP2::Error::ProtocolError, HTTP2::Error::ProtocolError)"
The reported error is not really helpful. The certs are all valid, I tested them outside rpush.

rpush is also not logging anything else beside this error, the certs are not expired.

[2018-12-16 19:41] wyde19 commented on #466
@benrugg AFAIK server_key is the legacy method for FCM authporization. Now they use short-lived OAuth bearer keys.

[2018-12-19 17:15] benlangfeld commented on #451
A solution is proposed in https://github.com/ileitch/modis/pull/19.

[2018-12-25 14:20] aried3r opened #468 "Test on Ruby 2.6"

[2019-01-09 03:56] walidvb commented on #331
I'm also frequently seeing duplicates notifications sent, not sure how to go about that.
Any progress or fixes on this issue?

[2019-01-29 13:15] aried3r opened #471 "Create file where we explain what and how rpush is maintained"
Examples:
https://github.com/almende/vis/blob/develop/misc/we_need_help.md
https://github.com/rails/execjs/blob/master/CONTRIBUTING.md
https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md#why-did-my-issuepr-get-closed

Since I mostly don't develop new features this project is heavily reliant on the community to push it forward. For example recent additions such das APNS2 or APNSP8 were

[2019-01-30 14:23] #451 closed

[2019-01-30 14:23] #468 closed

[2019-01-30 14:31] aried3r commented on #209
Closing this issue as stale.

[2019-01-30 14:31] #209 closed

[2019-01-30 14:32] aried3r commented on #264
Closing as stale.

[2019-01-30 14:32] #264 closed

[2019-01-30 14:37] aried3r commented on #281
Might be related to https://github.com/rails/rails/issues/32870?

Since nobody else is facing this and I can't reproduce it I'm closing this issue. If anyone is still having this error, having steps to reproduce this would be very welcome!

[2019-01-30 14:37] #281 closed

[2019-01-30 14:41] aried3r commented on #360
Closing since both APNS2 and APNSP8 have been implemented.

[2019-01-30 14:41] #360 closed

[2019-01-30 14:42] aried3r commented on #357
Closing since this doesn't seem to be a problem of rpush itself.

[2019-01-30 14:42] #357 closed

[2019-01-30 14:43] aried3r commented on #369
I think this has been done and released.

[2019-01-30 14:43] #369 closed

[2019-01-30 14:48] aried3r commented on #288
Closing. I don't use APNS but I think SSLv3 has been deprecated there and thus this error should not occur anymore. Feel free to open a new issue if this is still happening.

[2019-01-30 14:48] #288 closed

[2019-02-05 22:05] jhottenstein opened #477 "APNSp8 dispatcher occasionally hangs"
We are using the apnsp8 adapter to send a large amount of push notifications and we will occasionally (~6 times/day) get a batch that will error out after 7200 seconds (when the remote connection is closed).

I believe this is the same problem reported in #354

I think setting a timeout around client.join (or inside client.join is the appropriate solution).

[2019-02-06 13:20] aried3r commented on #477
Hey! Thanks for all the opened issues and especially for the PRs. I was wondering, do you want to be a contributer of rpush so you can merge PRs yourself?
Don't worry, there's no responsibility to maintain anything, but since I'm not even using APNS, I can't really be of much help reviewing the PRs.

[2019-02-06 13:37] #439 closed

[2019-02-07 15:27] aried3r commented on #389
Closing due to inactivity.

[2019-02-07 15:27] #389 closed

[2019-02-08 11:23] elieteyssedou commented on #413
I think we can close this issue because this argument exists : https://github.com/rpush/rpush/blob/master/lib/rpush/cli.rb#L19

Enjoy !

(may be it would be nice to update the documentation)

[2019-02-08 19:56] jhottenstein commented on #477
@aried3r I would be happy to help.  Thank you.

I ended up adding an idle timeout to the socket loop in [net/http2](https://github.com/splitwise/net-http2/tree/add-idle-timeout).  This worked but the timeout is orphaning notifications in our db (we use redis) so I don't want to push it as a solution for this issue yet.

It's unclear if we should resend them (and risk double delivery) or ignore the

[2019-02-08 20:18] jhottenstein opened #479 "APNs http2 delivery classes should not reflect notification_id_failed"
When a notification fails with an http2 delivery class (apns2/delivery.rb and apnsp8/delivery.rb), it reflects twice, once to notification_failed and once to notification_id_failed.

From the documentation in the rpush.rb file, notification_id_failed is only for notification failures that occur when the notification object is not in memory (i.e. during the apns_tcp feedback receiver).  All other n

[2019-02-08 20:26] aried3r commented on #413
Done with #478, thanks @elieteyssedou!

[2019-02-08 20:26] #413 closed

[2019-02-12 14:24] elieteyssedou commented on #413
You are welcome ! 😁

[2019-02-14 15:24] aried3r commented on #136
Hey! Thanks for reporting the issue and everyone's feedback! Since there haven't been any new reports for some time I'm closing this issue. Please feel free to open a new issue if you're still experiencing this issue with the latest Rpush release.

[2019-02-14 15:24] #136 closed

[2019-02-14 15:27] aried3r commented on #141
Hey! Thanks for reporting the issue! Since there haven't been any new feedback for some time I'm closing this issue. Please feel free to open a new issue if you're still experiencing this issue with the latest Rpush and ActiveAdmin release.

[2019-02-14 15:27] #141 closed

[2019-02-17 14:26] vzamanillo commented on #212
@jim0020 , @daniel-nelson, I know this issue is quite old, but, could you please provide an example on how to do this?

- Use the reflection api to update or disable tokens.

- Have a cron job delete all notification and feedback records older than 24 hours.

I suppose I need a task (rake) to connect to redis and do the documented job

[code]
Thank you very much!

[2019-02-17 18:13] hwth opened #481 "Android badges does't work"
I added the badge number to the notification body, but the badge didn't display.
It works normally on iOS devices.

[2019-02-18 10:39] aried3r commented on #481
Hey! That's because Android (AOSP) doesn't have support for badges. You can also see here in [Table 2.b (Android)](https://firebase.google.com/docs/cloud-messaging/http-server-ref#notification-payload-support) that there is indeed no field for a badge.

However Android 8.0 introduced [Notification Badges](https://developer.android.com/training/notify-user/badges) or "dots", but they come automatic

[2019-02-18 10:39] #481 closed

[2019-02-18 10:53] hwth commented on #481
Yeah, it's good to know. Thank you so much (y)

[2019-02-19 19:03] artoodeeto commented on #281
@hollowaykeanho  I just want to thank you. My boss was behind asking why can't I run dev. lols took me hours. thank you

[2019-02-20 01:31] hollowaykeanho commented on #281
No problem. Just helping out. =)

[2019-02-27 18:01] McGar opened #483 "Is that safe to do monkey patching for 2.7.0 Rpush::Daemon::Gcm::Delivery.do_post or const_set GCM_URI to update FCM endpoints"
<img width="896" alt="screen shot 2019-02-27 at 12 53 58 pm" src="https://user-images.githubusercontent.com/1562108/53511593-c5cfae80-3a8e-11e9-91ed-6ea2e7fa2326.png">

I have to use ruby 1.9.3, so based on this commit https://github.com/rpush/rpush/commit/f6634d98daaf45c425db4d5f22694cf01034146d#diff-56c593b9b7ce3dab0bc931b94909b436 , is that OK I just override Rpush::Daemon::Gcm.Delivery.do_post

[2019-02-28 17:58] ThomasAlxDmy opened #484 "Add support/better docs for Token-Based Connection to APNS"
Hey there,

I don't see any documentation on support for Token-Based Connection: https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/establishing_a_token-based_connection_to_apns?language=objc

Can we add it?

[2019-02-28 18:00] McGar commented on #483
Another way

[code]

Seems it can update the endpoints, by checking it again with `Rpush::Daemon::Gcm::Delivery.const_get(:GCM_URI)`

Will test and see which way works. Just not sure if it will break anything.

[2019-03-05 11:20] aried3r commented on #484
Hey, I think this was usually referred to as "APNS p8 Certificate Authentication" in PRs and issues. It was added in version 3.2.0 https://github.com/rpush/rpush/blob/master/CHANGELOG.md#320-2018-06-13

If this is indeed what you're looking for, maybe you can add to the README and send a PR? :)

[2019-03-05 19:53] McGar commented on #483
Both solutions work, now anyone knows if there is any security issue?

[2019-03-08 10:51] aried3r commented on #483
Hey! Glad you could solve this issue, and thanks for posting the solution as well!

I think you should be fine doing this. If however you need to support Ruby 1.9.3 I'd recommend forking rpush and applying all changes and backports of commits there instead of monkeypatching.

Closing, since this is not really an issue.

[2019-03-08 10:51] #483 closed

[2019-03-11 14:05] aried3r commented on #477
Hey @jhottenstein, I just wanted to follow up on this. I think you've seen that I've invited you to be a collaborator of this repo. :)

Did you get a stable working version running with a timeout in net-http2?

[2019-03-15 17:49] jacobsmith opened #485 "Kill RPush embed on Heroku"
Hello,

I currently have a very low-volume system using RPush so I'm just embedding it alongside Rails as per the Readme

[code]

My question is if there is a way to easily "kill" Rpush - In my Heroku Release phase, I run `rails db:migrate` to ensure that migrations are always run before new code that relies on them. However, because Rpush is embedded, it doesn't ever terminate, and thus deploys "

[2019-03-18 16:16] rofreg commented on #477
@aried3r Jess is off on vacation right now, but I can chime in :)

Unfortunately we haven't followed up further on this issue yet – we set aside our APNS p8 migration for the time being to focus on other work. As Jess noted, [we deployed an implementation with net-http2 timeouts](https://github.com/splitwise/rpush/tree/add-timeout-to-apns-p8) based on a [custom fork of net-http2](https://github.co

[2019-03-31 01:59] atebit opened #488 "Skip Rpush.embed if not "start server""
What's the best method to not call Rpush.embed if not on the server startup?

I was using an [initializer helpers gem](https://github.com/olegantonyan/initializer_helpers) to accomplish this, but it stopped working the way I expected..

So, rather than rely on a gem, I'd rather just write something that says:
 "if not rails s, don't do Rpush.embed"

[2019-03-31 04:24] atebit commented on #488
Actually.. I think this does what I want. But, if I'm wrong, please let me know

[code]

[2019-04-05 16:17] gregblake opened #490 "Is rpush compatible with Google's transition from GCM to FCM?"
I recently noticed this message on the [Google Cloud Messaging developer docs](https://developers.google.com/cloud-messaging/http-server-ref):

Are recent versions (3.0+) compatible with this change?

[2019-04-08 09:58] oliveriobw commented on #206
Any progress on this? This seems to be still an issue.

[2019-04-12 07:36] drn commented on #490
Yes, rpush is already pointing to the new FCM API endpoints as of v4.0.1

You can see `https://fcm.googleapis.com/fcm/send` is being used https://github.com/rpush/rpush/blob/master/lib/rpush/daemon/gcm/delivery.rb#L8 and matches the endpoints listed in https://developers.google.com/cloud-messaging/android/android-migrate-fcm#update-server-endpoints

These changes were added in https://github.com/r

[2019-04-12 12:52] gregblake commented on #490
Ok, great!

It looks like #303 actually shipped a bit earlier than 4.0.1, as it was in the [3.0.0rc](https://github.com/rpush/rpush/releases/tag/v3.0.0.rc1) release. I just wanted to mention that in case other people are wondering if an upgrade is required.

I appreciate your help, @drn.

[2019-04-12 12:52] #490 closed

[2019-04-12 16:25] drn commented on #490
Ah, whoops! Read the commit tag list wrong. Updated my comment 👍

[2019-04-12 16:41] gregblake commented on #490
No worries. Thanks again.

[2019-04-17 15:42] #63 closed

[2019-04-17 16:14] aried3r commented on #485
Hey! I haven't run Rpush in embedded mode so far, but maybe you'd have luck either using a Rails runner or Rake task that calls `Rpush.shutdown`. Sorry that I can't be of further assistance, but I hope that this might help you. :)

[2019-04-17 16:15] aried3r commented on #488
Hey! Yeah, `if defined?(Rails)` should work and suffice. See also how another user does it here: https://github.com/rpush/rpush/issues/485#issue-421636268

[2019-04-17 16:15] #488 closed

[2019-04-18 08:10] aried3r opened #493 "Switch from ansi to Rainbow gem"
https://rubygems.org/gems/rainbow is maintained and smaller than https://rubygems.org/gems/ansi (although also small and probably feature complete), so I think it's a good move forward.

It's also a good first issue I think. :)

[2019-04-24 16:23] pennycott opened #494 "Notifications stuck processing in batches"
Hi guys, first of all thanks for maintaining a great project.

I've had an issue in production where all push notifications get stuck at `processing`, and never get delivered. Same thing with test notifications i manually generate & run. This has happened 2 or 3 times over a period of 6 months.

It's running on Heroku, and I'm running the RPush as a foreground process on a seperate dyno [as recomm

[2019-04-25 00:49] drn opened #495 "Help maintaining rpush"
Hey @aried3r - my team at [Thanx](https://www.thanx.com/) is currently using rpush very heavily - we currently manage ~100 different apps (iOS & Android). We're running at scale (~60M records in the rpush_notifications table) and quickly growing.

We have a number of contributions we'd like to contribute back to the community. For example, we're using a hybrid of Redis for MQ and ActiveRecord for

[2019-04-25 13:41] aried3r commented on #495
Hey @drn, that's awesome to hear that this gem is being used so heavily at your company!

I'd very much appreciate some help in maintaining this gem and I'm very grateful that you're offering. Who would be in charge at your team? I'd rather avoid adding tens of people.

As for #491, I'm sorry, that one completely slipped under my radar. I'll have a look Sadly by now it has conflicts, could you may

[2019-04-25 20:30] drn commented on #495
Hey @aried3r

Makes total sense. You can add me and I'll work with my team on porting some of our extensions to the main project.

No problem regarding #491 - I'll rebase and resolve conflicts tonight. Not sure who else is maintaining the project now, but I'll tag you in it when conflicts are resolved

[2019-04-27 05:52] drn opened #498 "Resolve CI failures"
Rails 4.2, Ruby 2.5 test suite is failing due to
[code]
* https://travis-ci.org/rpush/rpush/builds/521311996
* https://github.com/rpush/rpush/blob/master/.travis.yml#L38

Bundler v2.0.1 is unable to be installed on Travis CI, but this combination requires bundler < v2.0.0

[2019-04-30 10:58] #493 closed

[2019-04-30 11:00] #498 closed

[2019-04-30 13:30] #285 closed

[2019-05-05 07:41] seccomiro commented on #186
Did anybody manage to solve this?

[2019-05-06 10:12] aried3r commented on #186
@seccomiro, do you have code that reproduces this error with the latest Rpush version?

[2019-05-06 11:39] seccomiro commented on #186
Hey @aried3r.
I don't have a piece of code, because the problem wasn't directly related to it.
After some hours of headache I figured out that the problem was, as @sebfie pointed, the accented words (Brazilian, in my case) **inside my .pem certificate** (at the _friendlyName_ attribute).

    -----more above-----
    -----END CERTIFICATE-----
    Bag Attributes
    friendlyName: a_name_with_á_or_ó

[2019-05-23 00:08] michaelirey commented on #467
Did you get this resolved? I am running into the same problem.

[2019-05-23 16:12] michaelirey opened #503 "HTTP2::Error::ProtocolError"
**Describe the bug**
Attempt to send push notification using the newer APNs Api

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the documentation in the readme. Changing out `Apns` with `Apns2`
2. Run (I have set the appropriate values for cert, password and token)
[code]

[code]
3. See error
[code]

**Expected behavior**
Successfully send push notification

**System configuration (pl

[2019-05-23 23:49] michaelirey opened #504 "What is the difference between using Apns2 or Apnsp8"
I have googled around a bit and did not find anything to clearly explains the difference.

Please advise :-)

[2019-05-23 23:59] michaelirey commented on #503
I upgraded to the latest version of Rpush `4.1.1` and the problem went away. Just wanted to document here uncase anyone else runs into this same problem.

[2019-05-23 23:59] #503 closed

[2019-05-30 16:43] shekhirin opened #505 "APNS (HTTP/2) certificate check doesn't happen"
**Describe the bug**
Some important validations in APNS2 are missed.
https://github.com/rpush/rpush/blob/70b16a32a6925152c31d2febcfeef58c32c8b937/lib/rpush/client/active_model/apns/app.rb#L10

**To Reproduce**
Steps to reproduce the behavior:
1. `app = Rpush::Apns::App.new`
2. `app.certificate = "wrong certificate"`
3. `app.save`
4. Everything's fine!

**Expected behavior**
https://github.com/rpus

[2019-06-20 07:43] andresbravog commented on #477
We are suffering the same issue, after some days the daemon gets stuck on APNSp8 notifications taking up to 3s per notification.

Any progress on this?

[2019-06-26 07:24] andresbravog commented on #504
AFAIK it uses the p8 certificates, that do not expire, in our experience, APNS sockets hang after a few days and starts being extremely slow when using this solution.

[2019-07-05 10:16] shivkmr94 opened #507 "[ERROR] ActiveRecord::StatementInvalid, Mysql2::Error: Lock wait timeout exceeded; try restarting transaction: SELECT `rpush_notifications`.`id` FROM `rpush_notifications` WHERE (processing = 0 AND delivered = 0 AND failed = 0 AND (deliver_after IS NULL OR deliver_after < '')) ORDER BY deliver_after ASC, created_at ASC LIMIT 100 FOR UPDATE"
Hi guys, first of all thanks for maintaining a great project.

I am using rpush 3.3.1 for sending notification to android and IOS devices.

when I try to send Notification to devices, getting error "[ERROR] ActiveRecord::StatementInvalid, Mysql2::Error: Lock wait timeout exceeded; try restarting transaction: SELECT  `rpush_notifications`.`id` FROM `rpush_notifications` WHERE (processing = 0 AND de

[2019-07-10 01:36] michaelvu812 opened #508 "Undefined method 'log_error' for Rpush::Daemon::Dispatcher::ApnsHttp2"
Hi guys,

I upgraded rpush to 4.1.1, when i start rpush got following error in Rpush log :

NoMethodError, undefined method `log_error' for #<Rpush::Daemon::Dispatcher::ApnsHttp2:0x00007f9a179574d8>
***/shared/bundle/ruby/2.5.0/gems/rpush-4.1.1/lib/rpush/daemon/dispatcher/apns_http2.rb:35:in `block in create_http2_client'
***/shared/bundle/ruby/2.5.0/gems/net-http2-0.18.2/lib/net-http2/callbacks.r

[2019-07-10 21:34] jrgonh opened #509 "Unable to deliver notification 44, received error 400 (GCM failed to parse the JSON request. Possibly an Rpush bug, please open an issue.)"
**Describe the bug**
I cannot send GCM notifications using the example you have in the readme file.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute the example you have in the README

**Expected behavior**
We should be able to receive the push notifications, Yesterday I was able to receive them.

[2019-07-17 09:54] bhoormeena commented on #494
I am facing similar issues -not all but some of the notifications get stuck at processing.  I am running this on dockerized app service but that should not be an issue I guess.

Technology stack
[code]

 Any help will be appreciated!

[2019-07-23 02:55] sgerasi commented on #508
Missing directive in Rpush::Daemon::Dispatcher::ApnsHttp2:
include Loggable

[2019-07-23 05:31] mldoscar commented on #508
Included this fix in PR #510. Waiting for a maintainer's approval

[2019-07-30 23:24] drn commented on #494
Hi @piggins & @bhoormeena,

Apologies for the delay in response. I just joined this project as a maintainer, but was out of the country for the past few weeks.

Have either of you looked into memory usage of your rpush process in Heroku? From your description, it sounds like the process may be hitting Heroku memory limits - the signs of that are essentially processes that get "stuck".

If you look

[2019-07-30 23:29] drn commented on #507
Hi @shivkmr94, sorry for the delayed response.

Can you confirm that your `rpush_notifications` table has the index change introduced by this PR - https://github.com/rpush/rpush/pull/428? This was released in rpush v3.1.1 - you can confirm by comparing the index or running `rpush init`. This change should reduce number of locked records

[2019-07-30 23:30] drn commented on #505
Thanks @shekhirin - sorry for the delayed response. It seems like you already have a proposed solution. Feel free to open a PR for this and I can facilitate getting the changes merged.

[2019-07-30 23:32] #495 closed

[2019-07-30 23:34] drn opened #512 "Stale Issue Bot?"
Hey @aried3r

I'm back from my a honeymoon and planning on spending some time getting the project's issues / PRs under control.

What do you think of enabling https://probot.github.io/apps/stale/ for this project?

[2019-07-31 07:52] aried3r commented on #512
Hey! Congratulations!

As for the issue, I've also been thinking about it, but haven't come to a conclusion on the times when issues should be marked as stale, when closed and how a nice message could look like.

I'm personally not a fan when my issues are closed via a bot, but I understand that maintainers only have so much time.

Any suggestions?

[2019-08-01 01:56] drn commented on #512
Thanks!

Agree that it's not ideal to be closed without any engagement. That said, it seems like we have open issues from 2015 that I suspect are probably safe to close out.

Perhaps we can start with 6 months (180 days) before an issue becomes stale with an additional two weeks (14 days) before close

What do you think about this message:
[code]

If you're in agreement, I'll open up a PR and we c

[2019-08-01 12:17] aried3r commented on #512
I am in agreement, but I'd like to have longer periods. I took a look at the open issues and some 6 month old issues are definitely (sadly) still relevant.

It has mostly to do with my limited time and the fact that we use FCM at work and not APNS(2), so I don't really know much about the intricacies of it. (On that note, I'd like to, again, communicate my gratitude to you, stepping up as an addit

[2019-08-01 20:32] drn commented on #512
Makes sense - sounds good

https://github.com/rpush/rpush/pull/514

[2019-08-06 08:23] SofiaSousa commented on #509
Getting the same issue since yesterday

[2019-08-06 09:34] SofiaSousa commented on #509
Upgrading from **rpush 2.7.0** to **3.3.1** did solve my problem.

[2019-08-06 11:07] aried3r commented on #509
@SofiaSousa that's good to hear!

@jrgonh, which version of Rpush are you using?

[2019-08-07 15:23] shivkmr94 commented on #507
Hi @drn, sorry for the delayed response.
My rpush version is: 3.3.1,
Yes, The index change is there in my schema.rb

[2019-08-07 18:20] purian commented on #509
Hey @aried3r
We have this issue on version 2.7.0 since two days ago, we can't upgrade to 3.3.1 without upgrading the entire environment.
Any advice?

Thanks

[2019-08-08 14:44] najamtariq commented on #509
hey, we are getting the same issue on version 2.7.0 and we cant upgrade to 3.x without upgrading the complete environment . Any suggestion how can we overcome this issue without upgrading the gem ?

Thanks

[2019-08-08 15:43] SofiaSousa commented on #509
My first attempt was to upgrade to the latest version of Rpush but that was requiring to upgrade the whole environment (including ruby version).

So I've tried 3.0.0 version first and then 3.3.1 and solved my problem.

[2019-08-08 15:46] SofiaSousa commented on #509
Also found this https://github.com/rpush/rpush/issues/370#issuecomment-326236413 that might help you guys @purian and @aried3r understanding what is crushing.

[2019-08-08 20:28] najamtariq commented on #509
Actually we are using ruby 1.9.3 So, upgrading is not an option for us. We are getting this error because google deprecated this end point https://gcm-http.googleapis.com

But we found a workaround i.e. upgrade the end point in lib/rpush/daemon/gcm/delivery.rb file to new endpoint like below solved our issue.

[code]
To

[code]

[2019-08-09 07:37] purian commented on #509
Thanks All.
@najamtariq - this solved our problem.

[2019-08-09 22:50] drn commented on #509
Great to hear that a feasible workaround has been found.

In summary:
* Upgrading to latest rpush version will resolve this issue
* If not feasible, override the endpoint in `lib/rpush/daemon/gcm/delivery.rb` as @najamtariq mentioned in https://github.com/rpush/rpush/issues/509#issuecomment-519675476

Closing this out now. Thanks all!

[2019-08-09 22:50] #509 closed

[2019-08-12 20:33] venriq commented on #509
Getting the same issue. We are unable to upgrade because unfortunately, the support for MongoDB was removed in version 3. We will try the hacky approach for the time being until we can get rid of this gem.

[2019-08-12 20:45] venriq commented on #454
I think MongoDB support was removed on version 3. I tried spending some time adding the support back but the code was quite messy and I didn't feel proud of working on it.

[2019-08-13 01:48] drn commented on #512
I've merged https://github.com/rpush/rpush/issues/512 in - will try it out and can adjust if necessary

[2019-08-13 01:48] #512 closed

[2019-08-14 12:29] jussihuotari commented on #206
I see this issue as well.

The Apnsp8 actually explicitly sets the value to zero despite the value specified in the notification:

https://github.com/rpush/rpush/blob/5839fb9aa21c93b567d69f9766f57581333028df/lib/rpush/daemon/apnsp8/delivery.rb#L138

vs what's stored in the notifications:

[code]

There's a workaround (for Apns2 and Apnsp8) as you can set headers case-by-case. For example, for Apns

[2019-08-19 05:10] jose2007kj opened #516 "Unable to access rails console after Embedding Rpush inside an existing process"
**Describe the bug**
Everything woks perfectly fine except that when i take rails console, i am getting the live rpush log so i am not able to use console after Embeddind Rpush inside an existing process as mentioned in readme

**To Reproduce**
Steps to reproduce the behavior:
1. added
 `if defined?(Rails)
  ActiveSupport.on_load(:after_initialize) do
    Rpush.embed
  end
else
  Rpush.embed
end`

[2019-08-19 07:33] jose2007kj commented on #516
i just found this gem  and it fixed the issue for me[capistrano-rpush](https://github.com/juicyparts/capistrano-rpush)

[2019-08-19 07:33] #516 closed

[2019-08-19 20:03] drn commented on #516
Glad to hear that the https://github.com/juicyparts/capistrano-rpush project worked! Thanks for the info 👍

[2019-08-20 10:45] #449 closed

[2019-08-26 01:27] kilimchoi opened #517 "Getting [ERROR] Rpush::DeliveryError, Unable to deliver notification 2, received error (Failed to deliver to all recipients. Errors: InvalidApnsCredential.)"
Hi I'm just following the readme doc to send a push notification to my ios device.

I've fetched server key from '/settings/cloudmessaging' and my registration id for the user device.

My code looks like below,

[code]

[2019-08-28 09:01] aried3r commented on #517
Hi! Were you able to solve this? And if so, could you maybe share your solution? Thanks!

[2019-09-01 08:17] munam-magplus commented on #509
@SofiaSousa @drn  I have update to 3.3.1 but still the issue persists.

[2019-09-03 06:44] munam-magplus opened #518 ""Unable to deliver notification 81869, received error 400 (GCM failed to parse the JSON request. Possibly an Rpush bug, please open an issue.)""
I have gone through the following threads for this error and followed the instructions properly:

https://github.com/rpush/rpush/issues/370
https://github.com/rpush/rpush/issues/509

I updated rpush to version 3.3.1 as discussed in the above threads.

Then again there was the same error as given in this thread:

https://github.com/rpush/rpush/issues/273

I was able to solve with the given solution

[2019-09-04 14:01] aried3r commented on #518
Hey! I sadly don't have enough time to work on this right now myself. But would you be open to explore this error in more detail?

It seems that rpush's FCM code is a bit special in the sense that we simply ignore the response in our log message.

See FCM:
https://github.com/rpush/rpush/blob/810007859d3023795e04c042a36b3f6d999c08c8/lib/rpush/daemon/gcm/delivery.rb#L113-L115

Compared with other im

[2019-09-05 12:44] aried3r opened #521 "Prepare 4.2 release"
* [x] Update changelog with all changes, merged PRs etc
* [x] Change version number
* [x] Remove extraneous migrations added in #502
* [x] Add migrations (4_1_2? Maybe should be 4_2_0) to tests, I think they're missing there

[2019-09-12 10:24] sharang-d opened #522 "Rails 5.2 support"
Hey, @aried3r!
Thanks for this great gem. We've recently started using this.

I have a question: Does the gem work with Rails 5.2 and Redis?
https://github.com/rpush/rpush/blob/master/README.md#feature-highlights says no but the linked issue(https://github.com/ileitch/modis/issues/13) seems to indicate that it is indeed supported.

So my question is: Is it supported or not?
I feel like it is and t

[2019-09-12 11:14] #522 closed, assigned to nobody

[2019-09-12 12:02] #277 closed, assigned to nobody

[2019-09-12 12:03] #448 closed, assigned to nobody

[2019-09-12 13:02] #113 closed, assigned to nobody

[2019-09-17 18:59] sharang-d opened #525 "Question about the efficiency of the Redis cleanup method"
Hey, @aried3r!

I had a question about the cleanup task posted at https://github.com/rpush/rpush/wiki/Using-Redis#important.

`redis.keys()` is O(N) and it might take a long time and also cause problems on large Redis databases so a colleague came up with this approach instead:

[code]

A quick read tells me that it would do what the cleanup task does but immediately after a notification is delive

[2019-09-17 19:19] kpfecteau opened #526 "Question about getting info from daemon"
Hello, I am working on implementing this gem to send our push notifications but I am running into an issue when trying to get info from rpush running as a daemon.

The config has a comment saying that info can be retrieved by using this method:
`Rpush::Daemon::AppRunner.runners.each do |app_id, runner|`
    `    runner.app`
    `    runner.queue_size`
`end`

but this returns an error stating
`NoMe

[2019-09-18 07:58] zia954 commented on #433
this is still an issue, i am just switching the schema to public schema whenever i have to send push notification

[2019-09-23 14:39] jhottenstein commented on #521
I can help with this!  We have a hackathon this week and I am planning to do some rpush development.  Let me know if you have other items that you want someone to work on.  I plan on focusing on redis/apns2 items.

[2019-09-23 14:41] jhottenstein commented on #525
Hello!

I like this idea.  We use redis and we're using the technique that was advised against (deleting right away in the `on.notification_delivered` block).  This ended up causing an issue with retries for apns failures.

Have you successfully used this yet?

[2019-09-23 14:44] jhottenstein commented on #504
Hello!

This article describes the benefit of using the token based auth (p8): https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/establishing_a_token-based_connection_to_apns

@andresbravog I agree that the apns http2 connections start to hang and I hope to have a solution for this soon.

[2019-09-23 14:44] #504 closed

[2019-09-23 14:44] aried3r commented on #521
Hey, that's awesome to hear! I think other than the points mentioned in the issue I have no other plans. Well, maybe a few, but I think your work on redis/apns2 will benefit most people.

[2019-09-23 17:49] jhottenstein commented on #340
Just ran into this.  Need to change AppRunner.debug to AppRunner.status?

[2019-10-01 00:40] MehdiSv commented on #330
I'm having the same issue right now. We are sending around 700-800 notifications per hour to our user base.

Not sure why we have so many timeouts all of a sudden.

[2019-10-01 17:03] aried3r opened #529 "Update RSpec"
I tried this a few times, but even updating from 3.4.0 to 3.5.0 fails for me and I have no idea why. Maybe I was just unlucky and now it will just work. :)

https://github.com/rpush/rpush/pull/429
https://github.com/rpush/rpush/pull/482

[2019-10-01 17:06] aried3r commented on #454
Yes, what @venriq said is true. MongoDB integration was unmaintained and I decided to drop it to move on with other features and releases.

If anyone wants to re-add integration, feel free to open a PR! I just cannot maintain it myself.

[2019-10-01 17:06] #454 closed

[2019-10-01 18:15] yihyang commented on #529
@aried3r I have created a PR for this: https://github.com/rpush/rpush/pull/530

[2019-10-01 20:43] jhottenstein commented on #525
Testing with this reveals that this effectively removes the key but doesn't remove the id from the index that modis maintains (there is a set at 'rpush:notifications:all)

I think the wiki solution has the same problem as well.

[2019-10-03 10:15] kshtzkr opened #531 "undefined method `dry_run' for #<Rpush::Client::ActiveRecord::Gcm::Notification:0x00007f7ae81ad118>"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Write code '...'
2. Run '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs and other output**
If applicable, add logs, stack traces etc. to help explain your problem.

**System configuration (please complete t

[2019-10-03 11:30] aried3r commented on #531
Please provide the information requested in the issue template, thanks!

[2019-10-03 13:36] kshtzkr commented on #531
I am getting this everytime
```Error----------------> undefined method `dry_run' for #<Rpush::Client::ActiveRecord::Gcm::Notification:0x00007f18bdd66410>
[code]

[2019-10-03 13:38] kshtzkr commented on #531
[code]

[2019-10-03 13:39] aried3r commented on #531
Please provide the information requested in the issue template. This is too little to investigate.

We use this feature in production already, so it should work.

Please make sure you're on the latest version of rpush and ran all DB migrations.

[2019-10-03 13:54] Fivell opened #532 "missed ability to override X-WNS-PRIORITY"
Hello, from [microsoft documentation](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/wns-notification-priorities)

there a ability to set the priority on the notification request is done through an additional header on the POST request, X-WNS-PRIORITY. This is an integer value between 1 and 4.

Seems it is not possible to set it per push message. Maybe you can re

[2019-10-04 05:23] kshtzkr commented on #531
I am calling this function to trigger a notification to the device
`def push_notification(user,message,body=nil,title=nil,icon={})
    if user.device_tokens.present? && user.notification_enabled
      # Android push notification
      n = Rpush::Gcm::Notification.new
      n.app = Rpush::Gcm::App.find_by_name("android_app")
      n.registration_ids = user.device_tokens.pluck(:token)
      n.data =

[2019-10-04 23:55] batmanbury commented on #430
Moot at this point, but wasn't this occurring because of the `-f` flag? (which runs rpush in the foreground)

[2019-10-07 06:31] jsantos opened #534 "Add `apns-push-type` headers to enable silent notifications on iOS 13"
It seems that from iOS 13 onwards, we need to include an additional header (`apns-push-type`) to send silent push notifications. I can confirm that currently it doesn't work. The supported values for this header are `alert` and `background`. Regular notifications are still working, so I assume it defaults to `alert`.

Context:
  - https://stackoverflow.com/q/57578083/1786917
- https://developer.ap

[2019-10-07 07:06] brunow commented on #534
You can do it right now with the latest version.

Here's an example of how to do it:

n = Rpush::Apns::Notification.new
n.app = ...
n.device_token = push.ios_token
n.alert = text
n.data = { 'headers': { 'apns-push-type': 'background' } }
n.save!

[2019-10-07 07:06] kshtzkr commented on #531
Now this is getting stored in my Rpush object as it's error

` id: 206,
  badge: nil,
  device_token: nil,
  sound: nil,
  alert: nil,
  data: nil,
  expiry: 86400,
  delivered: false,
  delivered_at: nil,
  failed: true,
  failed_at: Mon, 07 Oct 2019 07:05:11 UTC +00:00,
  error_code: nil,
  error_description: "undefined local variable or method `dry_run' for #<Rpush::Client::ActiveRecord::Gcm::N

[2019-10-07 07:12] jsantos commented on #534
Thanks @brunow! Guess we can skip adding more bloat to the models then :)

Maybe worth to include something about this on the README?

[2019-10-07 07:34] kshtzkr commented on #531
Hey can you please take a look into this why is this happening, Now all my push notification has been stopped and I am not able to use this feature. In any of my platforms

[2019-10-07 13:53] jsantos commented on #534
Just to confirm, it works properly. Closing and will submit a PR documenting this on the README's APNS section.

[2019-10-07 13:53] #534 closed

[2019-10-08 13:43] aried3r commented on #534
A PR with documentation would be awesome! Thanks for contributing, and helping out!

[2019-10-08 14:57] aried3r commented on #531
Please provide the information requested in the issue template. Which version of Rpush are you using? Have you run all the migrations? Please also supply all the other relevant information.

This is too little to go by. Thank you!

[2019-10-09 02:27] jsantos commented on #534
@aried3r I've added it to the Wiki, this seemed like the appropriate section: https://github.com/rpush/rpush/wiki/Advanced-APNs-Features

[2019-10-09 08:36] #532 closed

[2019-10-09 08:53] kshtzkr commented on #531
I am using rpush 4.0.0 on the production servers and on staging and QA channel I am using the 4.1.0. \
yes, I have run all the migrations but still, it's not working.

[2019-10-09 10:24] aried3r commented on #531
Could you post the output of `Rpush::Notification` in `rails console`?

[code]

As you can see, it outputs `dry_run` at the end (order might be different for you).

Maybe also show your `schema.rb`, it should also contain `dry_run`. Your error reads as though this attribute is missing from your table.

[code]

[2019-10-10 04:41] #294 closed

[2019-10-10 12:56] kshtzkr commented on #531
Now I found the issue migration is not proper on my systems.
Thanks

[2019-10-10 13:12] aried3r commented on #531
Glad you found a solution! :)

[2019-10-17 12:48] zedtux commented on #457
You!? Bot!? Here too!? ... OMG, you're boring me so much, not my fault if authors aren't taking care of my issue !

Stop tracking me ! Uninstall yourself now!

[2019-10-18 03:39] sharang-d commented on #525
We're looking into the best way to remove it but in the meantime do you have any solutions?

(We should probably also update the Wiki page)

[2019-10-18 16:40] aried3r commented on #525
I'm not sure if this is relevant, but I found this PR in Rails that deletes multiple keys in their cache implementation.

https://github.com/rails/rails/pull/36927/files

[2019-10-18 17:30] jhottenstein commented on #525
I have to fix this for my own application so I'll probably have something more concrete in the future.

Expire is probably the most efficient way to solve this problem but there is no reliable way to remove the item from the index at expiration.  Maybe deleting the item from the index when the expire command is good enough?  The cleanest way to do that would be to add an expire method to modis but

[2019-10-18 22:03] piggins commented on #494
Memory usage was my first thought too, but I check the usage graph after every incident and it was always well under the limit. I haven't yet captured the rpush process logs during an incident, I'll give that a look next time it happens, thanks.

[2019-10-30 11:49] accessd commented on #331
Same problem. From logs: `Notifications 631545, 631546, ..., 632174, 632175 will be retried due to the failure of notification 631544`. Notification 631544 failed with `Invalid device token (8)` error.

[2019-10-31 07:24] zedtux opened #536 "Using p8 method, when renewing the APN certificate I can only export as p12"
My Rails backend uses Rpush in order to send push notifications to my mobile app, and my code uses the p8 APNs Api.

I received the email from Apple stating that my cert is about to expire. I went through the certificate creation process (made a CSR, uploaded it, and downloaded the `.cer` file from the Apple website).

After having imported the `.cer` file in the Keychain Access app, when I export

[2019-10-31 10:53] zedtux commented on #536
Thank you very much @aried3r for your comment 👍.

I already have a `.p8` file, and when I went to the Keys page, I couldn't find any expiration date so you could be right that `.p8` files doesn't expire.

So from your point of view, using `.p8` is the way to go, and I actually have nothing todo with the expiring certificates?

[2019-11-06 10:02] zedtux commented on #536
@aried3r could you please confirm me that the `.p8` is enough, and the expiring certificate is useless?

[2019-11-06 15:49] aried3r commented on #536
Yes, APNs using token authentication is the way to go. The `.p8` file contains your signing key for the tokens.

See also
https://developer.apple.com/videos/play/wwdc2016/724/
https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html
https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notific

[2019-11-06 15:49] #536 closed

[2019-11-07 04:02] spemmons opened #538 "APNS P8 giving occasional "Connection reset by peer""
**Describe the bug**
Seeing the following in several environments -- DEV, INTEGRATION, PROD -- with otherwise successful deliveries but occasionally the following errors and related "rpush_notifications" records show "delivered = false, failed = false":

[code]

**To Reproduce**
Not sure, it's intermittent.

**Expected behavior**
Not sure, either finally marking the record as "failed" or "delivere

[2019-11-07 05:03] zedtux commented on #536
Thank you very much @aried3r

[2019-11-07 22:58] spemmons commented on #538
I was able to get a more complete stack trace for the error:
[code]

[2019-11-12 08:11] jimishjoban commented on #184
Can we assume that we cannot run Rpush without rails?

[2019-11-12 23:52] aross commented on #260
This is definitely still a problem for FCM and redis store.  I haven't really dug down into what's going on, but it looks like a validation or something in Modis is calling with the priority setter again and since the value is 10 instead of 'high' it's triggering the error and setting to nil.  @fertobar 's solution works because it also allows a value of 10 or 5 in the setter.

[2019-11-15 16:26] spemmons commented on #538
it is possible that our "Connection reset by peer" is the result of sending the same message to multiple valid device tokens at almost the same time. some on our team wonder if Apple is rejecting this as "inappropriate" whereas the same devices happily receive messages at other times. does anyone know if this could be true?

[2019-11-19 13:13] #459 closed

[2019-11-28 23:05] #424 closed

[2019-11-28 23:05] #452 closed

[2019-12-02 21:50] spemmons opened #539 "Cannot use "find_by_name" on Rpush::Apnsp8::App"
**Describe the bug**
Following instructions for using Redis, but while I can create a Rpush::Apnsp8::App, I cannot subsequently call Rpush::Apnsp8::App.find_by_name(...) per the README

**To Reproduce**
Run rails console and call Rpush::Apnsp8::App.find_by_name('test') and receive the following error:

[code]

**Expected behavior**
Expect `find_by_name` to work just like before using ActiveRecord.

[2019-12-02 22:43] spemmons commented on #539
apparently `.where(name: 'test').first` works, so i'm going to switch over to using that -- i don't really care what the mechanics are -- i was just confused about what to use -- it might be nice to update the docs to not be ActiveRecord-centric -- i'll let someone else close when/if there is any response to these comments...

cheers!

[2019-12-05 15:06] #450 closed

[2019-12-05 16:25] alexshikov commented on #284
Just curious, is that something scheduled or the contribution wanted?

[2019-12-06 19:21] pennycott opened #540 "Notification received 15 mins after `delivered_at` time"
I've experienced an effect  where the notification is received by the user ~15 minutes after the `delivered_at` attribute would suggest. This seems to only happen when a lot of notification records are created at once, and effects the notifications later in the queue.

After looking in the Rpush docs, it seemed like the bottleneck would be the [APNs timeout](https://github.com/rpush/rpush/wiki/Why

[2019-12-13 12:43] #521 closed

[2019-12-20 16:47] gregblake opened #545 "Some notifications incorrectly marked as invalid due to payload size"
**Describe the bug**

* Some notifications incorrectly marked as invalid due to payload size.
* APNS v1 imposes a validation payload size limit of 2kb. On APNS2, the payload limit increases to 4kb.
* When using APNS2, Rpush is validating the notification payload size based on APNS v1 size limits (2kb), rather than APNS v2 size limits (4kb).

**To Reproduce**

Steps to reproduce the behavior:
1. Cr

[2019-12-25 10:21] aried3r opened #546 "Test with Ruby 2.7"

[2019-12-31 13:44] spemmons commented on #538
continuing to experience this issue ... recent example: 2 issues scheduled for delivery at the same time ... when processed, both received "Connection reset by peer" result ... i resubmitted both messages manually, and both were delivered ... is there something about the simultaneous delivery of valid messages to different devices that Apple would consider "improper"?

[2019-12-31 14:02] spemmons commented on #538
curiously, i found the following in our logs just now:

[code]
there is only one process running, so these 2 connection reset messages occurred within a few seconds of each other ... there was NOT a message being delivered at this time ... perhaps it was just a daily reset kind of thing? ... not sure if there is any significance

[2020-01-15 13:56] jadamdipak opened #548 "IOS notification return delivered true but not getting notification on mobile"
Ruby: 2.4
Rails 4.2
Everything working perfactly even response is also correct but didn't get the notification

[code]

Please help me for this where I can debug

[2020-01-15 13:58] jadamdipak commented on #548
@adis-io @aried3r

[2020-01-15 20:49] #466 closed

[2020-02-20 20:04] daniel-nelson commented on #260
I've tracked down the issue when using Redis:

1. Priority is set during notification creation: `n.priority = 'normal'`
2. The [priority setter](https://github.com/rpush/rpush/blob/master/lib/rpush/client/active_model/gcm/notification.rb#L23-L36) converts this to 5
3. The 5 is stored in Redis
4. When the notification is hydrated during `Rpush.push`, Modis [assign_attributes](https://github.com/rpu

[2020-02-20 21:06] aried3r commented on #260
Thank you for looking into this, @daniel-nelson. Do you think you can write a failing test case that shows the faulty behavior and is fixed by the proposed code in the PR?

Reopening for now.

[2020-02-21 10:07] aried3r commented on #260
Thanks for everyone's work and sorry for addressing this so late!

If you think the documentation is now lacking information, PRs would be more than welcome.

[2020-02-21 10:07] #260 closed

[2020-02-21 10:45] #546 closed

[2020-02-21 10:51] aried3r commented on #548
Hey! You could begin by manually sending notifications to your test device.

There's various ways, but maybe if you're on a Mac you can use [this app](https://github.com/KnuffApp/Knuff) to debug it. If that works, we know that it's an issue with Rpush and not APNs or your app.

[2020-02-21 10:56] aried3r commented on #545
Hey @gregblake, thanks for the detailed bug report and even potential solutions. Sadly I currently don't have time to actively maintain this gem in the sense that I actively develop it, but I rely on the community and other maintainers that volunteered to keep this gem alive. So I'd say it's in "passive maintenance mode" right now.

That being said, would you be open to open a PR with the necessar

[2020-03-09 21:11] #479 closed

[2020-03-23 23:11] sadjow opened #555 "bundle exec rpush start does not init environment based on the RAILS_ENV"
**Describe the bug**
When using Rails, the command `bin/bundle exec rpush start -f` does not init the environment based on the `RAILS_ENV` environment variable. Even when the var is set to `production`. I had to explicity set the environment using `-e production` (`bin/bundle exec rpush start -e production -f`). Also, there is no documentation about it in the Wiki or README.

**Expected behavior**

[2020-03-24 00:00] Hopperman opened #556 "APNS notifications are not marked as failed."
All my APNS notifications are being marked as successful even though they fail to deliver (deliberately using bad device tokens, disabling notifications etc.)

Is this an issue with APNS or Rpush configuration?

Using the reflection API, errors do not appear under `on.notification_failed` but all notifications come through on `on.notification_delivered`

Tried using normal APNS and APNS2.

[2020-03-30 22:44] Hopperman commented on #548
could this possibly relate to my issue #556 ? @jadamdipak @aried3r
My problem is similar in that the response says everything went perfectly, even though I sent it to a phone with disabled notifications / borked device token.

[2020-04-07 06:02] arusa commented on #555
Thanks for the info! It just cost me at least half an hour to try to deploy my app with rpush to production because rpush always tried to load the development environment.

For Google:
Error Message was:
... method_missing': undefined method `web_console ...

[2020-04-15 02:19] ThomasAlxDmy opened #557 "Any plans to Add Wechat support?"
wechat is becoming it's own thing when it comes to receiving information. It's the main app you always have open. Would be great to look into wechat support:
https://medium.com/china-software-development/how-to-send-template-message-for-wechat-mini-program-856dbc4af7cc

[2020-04-18 11:43] #484 closed

[2020-05-16 18:06] #485 closed

[2020-05-25 09:46] DrLuthor commented on #277
Same issue here.

[2020-05-27 08:08] CR4567 commented on #538
Hi,
I have the same issue, without using P8. It started after switching from Rpush::Apns::App to Rpush::Apns2::App. But I couldn't figure out why or when exactly it happens.

Did you find out any more specific details about it?

[2020-06-04 23:30] #186 closed

[2020-06-21 02:58] #467 closed

[2020-08-03 12:31] CR4567 commented on #538
I'm still looking for a solution.
I'm using 5 different apps, connected from the same backend.
Could this be an issue?
Anyone else with problems like this?

[2020-08-13 07:33] CR4567 commented on #539
Rpush::Apnsp8::App.find_by_name still works for me.
Ruby 2.5  / Rails 6.0.3

Did you switch from AR to Redis? Maybe that's your problem

[2020-09-04 00:08] mobits commented on #538
Having the same issue here.

Apparently,  when it happens not only the whole notification batch is lost, but also no new notifications are sent until you restart the daemon.

I wonder if I rescue from Errno::ECONNRESET on Rpush::Daemon::Apnsp8::Delivery#perform and mark_batch_retryable would solve the problem.

The issue is that I can't find a way to reproduce the problem. It happens very rarely.

[2020-09-04 09:24] aried3r commented on #538
Just to chime in. While I do maintain this gem, it's in a passive maintenance mode. Meaning I do not actively develop this gem anymore beyond my own needs (via PRs) and making sure it works with latest Rubies and Rails versions.

We use it in production successfully, but not with APNs, but with FCM for both iOS and Android. Thus I cannot speak for APNs functionality.

If anyone has an idea on how

[2020-09-04 10:29] oliveriobw commented on #370
Using Rpush::Gcm::Notification (v5.0.0) this was causing this same crash
`n = Rpush::Gcm::Notification.new  `
`  n.data = {"from"=>"b8031295-6982-40d2-b92c-4ae64effcd1e"} `
After renaming the "from" key to something else (ie "pfrom") did it work!

[2020-09-05 18:46] #507 closed

[2020-09-13 09:21] #206 closed

[2020-09-23 18:21] benlangfeld commented on #477
I'm also experiencing this problem. It looks like https://github.com/splitwise/rpush/pull/7 probably fixes this, though could also mark the batch for retry.

It's an urgent issue, since during this failure rpush continues pulling notifications out of the pending queue in redis and queueing them in memory; since it gets stuck and we have to send it SIGKILL, those notifications queued in memory will

[2020-09-23 20:20] rofreg commented on #477
Hey @benlangfeld, so sorry you're having the same problem! Unfortunately @jhottenstein and I abandoned this issue shortly after our initial research above, and instead we switched to FCM to deliver both iOS and Android notifications. I still think fixing APNSp8 support would be a really valuable contribution to rpush, but it's not something we're actively working on anymore.

[2020-09-23 21:29] benlangfeld commented on #545
@aried3r https://github.com/rpush/rpush/pull/561 should achieve exactly that.

[2020-09-23 21:59] benlangfeld commented on #555
Implemented in #562 and available for review.

[2020-09-24 12:54] benlangfeld commented on #545
@aried3r If you're still looking for additional assistance in maintaining rpush, @powerhome is committed to its continued usage and can collaborate in maintainership through @gregblake and myself . To start with, we've proposed #561 and #562, and will be preparing a fix for #477 this morning.

[2020-09-24 17:01] #555 closed

[2020-09-24 17:04] #477 closed

[2020-09-24 17:15] aried3r commented on #545
I added the two of you as maintainers, or technically speaking, you have write access, no "Maintain" access, at least for now.

I appreciate the help and from the feedback I've seen people using this rpush already appreciate the activity and PRs you are sending. Thanks!

[2020-09-24 17:18] benlangfeld commented on #545
@aried3r Awesome, thanks. I have a few more things to propose once #561 is in, and I'll also review other outstanding PRs and do some issue triage next week.

[2020-09-24 17:22] gregblake commented on #545
Thank you @aried3r. I will review other outstanding PRs as well.

[2020-09-24 17:27] aried3r commented on #545
I'll need to have a closer look at this PR as well as it seems that it changes the default values for redis users. I need to dig into the history to see when it was added as I don't want to break people's code (unless we release as 6.0 and have a breaking change).

[2020-09-24 17:29] benlangfeld commented on #545
It aims for parity between ActiveRecord and Redis. I can split that out if it simplifies your review.

[2020-09-25 09:54] aried3r commented on #495
Quick update. @benlangfeld and @gregblake were added as maintainers. https://github.com/rpush/rpush/issues/545#issuecomment-698325248

They've been super helpful, fixing some long outstanding issues of APNS2 and I appreciate their help a lot!

[2020-09-25 16:51] #545 closed

[2020-09-25 16:56] aried3r commented on #370
Reopening as this now seems to have repro steps. I haven't yet confirmed this myself however.

[2020-09-26 01:07] benlangfeld commented on #494
@mouseofleaves @bhoormeena Please evaluate if https://github.com/rpush/rpush/pull/564 (in v5.1.0) resolves this issue.

[2020-09-26 09:22] mouseofleaves commented on #494
@benlangfeld This looks like it could be the culprit for notifications hanging in the `processing` state. I won't be able to confirm for a while because I've experienced the issue intermittently, but I'll bump rpush to v5.1.0 now.

[2020-09-28 12:07] benlangfeld opened #568 "Remove APNSv1 support"
The APNS binary interface [will cease to function next month](https://developer.apple.com/news/?id=11042019a). We should remove it from rpush. I propose then renaming `APNS2` in rpush to simply `APNS` to take its place.

Any objections @aried3r ?

[2020-09-28 12:16] benlangfeld commented on #557
No plans now, but contributions of this feature would be accepted.

[2020-09-28 12:24] benlangfeld commented on #526
This was broken by f2a3c23f5b6644d602307f5f82789fcf9879f651

[2020-09-28 12:25] benlangfeld commented on #526
Does `Rpush::Daemon::AppRunner.status` provide what you need?

[2020-09-28 13:49] aried3r commented on #568
If Apple follows through with this and doesn't extend the deadline I don't mind getting rid of unused code. This is definitely a 6.0.0 change, since it will be breaking people's code.

[2020-09-28 14:28] benlangfeld commented on #568
@aried3r Would you want to see Apple follow through prior to the removal hitting master, or would you be willing to preempt that?

[2020-09-28 14:41] aried3r commented on #568
Hmm, I'm not sure where I stand on this. I guess people who got the warning already migrated or will very soon. WDYT? I'd assume reverting such a commit should be easy enough unless major refactorings happen because of it.

[2020-09-28 15:08] benlangfeld commented on #568
I'm not sure how easy a revert would be because of the interaction with APNSv2; I suspect it might not be very easy to revert. I don't see Apple canceling their intent to shut down, though, so worst case we'd just be a little bit ahead. They already strongly encourage using the HTTP2 interface anyway, so removing the binary interface from rpush would be our way of helping with that encouragement.

[2020-09-28 15:12] aried3r commented on #568
Hmm, I'd think of it as reverting a commit, but it might involve multiple commits, so maybe reverting a merge. But you're right, I assume we can remove it in the next version. Rpush 5 should continue working and most new features/bugfixes are targeting APNS2 anyway.

[2020-09-28 15:14] benlangfeld commented on #568
Cool. I'll prep the removal later in the week.

[2020-10-04 04:26] #518 closed

[2020-10-12 12:12] aried3r commented on #568
https://developer.apple.com/news/?id=c88acm2b

[2020-10-16 18:27] zedtux commented on #457
Here we go again 🤷.

Don't know which one from Rpush setup that bot but they should use that time to do some triage instead.
Whatever...

[2020-10-16 18:27] #457 closed

[2020-10-16 18:54] benlangfeld commented on #457
@zedtux You are no longer welcome to participate in this project. Try learning some manners.

[2020-10-17 09:14] #433 closed

[2020-10-19 07:54] CR4567 commented on #538
@mobits I did try to rescue from ECONNRESET some time ago, but with no luck.
The processing flag in the database is still processing=1 but it's not retried anymore.
I didn't find a solution for this, but didn't spend much time on it, either....

Maybe I will give it another try...

[2020-10-23 07:45] #340 closed

[2020-11-10 17:34] jaigouk commented on #196
voip notification works with proper headers.

[code]

[2020-11-17 10:19] pennycott commented on #494
I haven't noticed the same issue in production since making the change. I think I can cautiously call this fixed.

[2020-11-17 10:19] #494 closed

[2020-11-17 10:22] #540 closed

[2020-11-17 12:34] #525 closed

[2020-11-18 18:39] mslipenchuk267 opened #580 "Issues running rpush init in Dockerfile"
**Describe the bug**
I am having an issue running the ```rpush init``` command in my Dockerfile for my rails 6 app.
When the Dockerfile gets to my ``` RUN bundle exec rpush init``` command I get the following error:

![Screen Shot 2020-11-18 at 1 33 51 PM](https://user-images.githubusercontent.com/25811429/99572470-b4d17a00-29a2-11eb-834d-bc12e00fecf5.png)

Where ```* Install ActiveRecord migratio

[2020-11-18 18:51] benlangfeld commented on #580
Why would you do `rpush init` in a Dockerfile? I think you might be misunderstanding `rpush init`, docker, or both.

[2020-11-18 19:05] mslipenchuk267 commented on #580
@benlangfeld
Hey thank you for responding.

From my understanding rpush init just sets up the initilizer rpush file and some migrations.

I didn't originally include this command in my dockerfile and it could build, but when I tried to run the container I would get the following error:
I![Screen Shot 2020-11-18 at 1 55 08 PM](https://user-images.githubusercontent.com/25811429/99574666-ad5fa000-29a

[2020-11-18 19:25] benlangfeld commented on #580
Run `rpush init` in the container, not in the Dockerfile.

[2020-11-18 19:57] mslipenchuk267 commented on #580
Thanks, I removed that and got a new issue which I found is actually due to some code I have in the config/intializers/rpush.rb file:
![Screen Shot 2020-11-18 at 2 48 16 PM](https://user-images.githubusercontent.com/25811429/99580099-1a2a6880-29ad-11eb-81f6-59335376871e.png)
When I comment out that code the server can start correctly (but without my rpush app made).

If include that code then I ge

[2020-11-18 20:36] mslipenchuk267 commented on #580
@benlangfeld
I found out that my intializer code wasn't working because the tables had not been migrated yet to the database.
Once I migrated the tables, I then rebuilt my docker image to have the initializer code and then it could start correctly:
![Screen Shot 2020-11-18 at 3 35 40 PM](https://user-images.githubusercontent.com/25811429/99584992-b9525e80-29b3-11eb-9e11-6f51746fac0d.png)

Now my i

[2020-11-18 20:36] #580 closed

[2020-11-20 18:01] lmhsjackson opened #581 "Undefined method apn_key= and apn_key for Rpush::Client::ActiveRecord::Apnsp8::App"
Hi, I am using v4.2, I have to migrate my Apns:v1 cert now and I am trying to move to Apnsp8.

Following the readme I get the `NoMethodError for apn_key=` on this step:
` app.apn_key = File.read("/path/to/sandbox.p8")`

The exact error is: ```NoMethodError: undefined method `apn_key=' for #<Rpush::Client::ActiveRecord::Apnsp8::App:0x005565c2a02508>
from /home/myusername/.rbenv/versions/2.4.0/lib/r

[2020-11-20 19:04] benlangfeld commented on #581
Is your DB schema correct?

[2020-11-20 22:06] lmhsjackson commented on #581
Sadly it was not. Thanks, you may close the issue. Thank you

[2020-11-20 22:06] #581 closed

[2021-01-08 19:22] SqueezedLight opened #584 "ruby 3.0.0"
Hi guys,
first of all, thanks for the great work. This gem really is a gem ;)

I noticed that `rpush` doesn't work with ruby 3.0.0. The problem is already fixed in the underlying gems (`net-http2` and `http2`). The `net-http2` commit is here [here](https://github.com/ostinelli/net-http2/issues/44). Can we update `rpush` to the newest `net-http2` version?

Thanks!

[2021-01-08 19:47] aried3r commented on #584
I believe we don't restrict the `net-http2` version in a way that would prevent an update to the latest version. Are you sure it's `rpush` preventing you from updating this dependency?

[2021-02-01 13:00] deztrucktor opened #585 "Wrong number of arguments (given 4, expected 3) when running migrations"
**Describe the bug**
When running the ActiveRecord migrations in a new rails app, the migrations fail with error `wrong number of arguments (given 4, expected 3)`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new rails app (`rails new rpush-example`)
2. Add rpush to the gemfile (`gem 'rpush'`)
3. Run `bundle install`
4. Run `bundle exec rpush init`
5. Choose to install the Active

[2021-02-01 15:23] benlangfeld commented on #585
We should start by testing on [Ruby 3.0](https://github.com/rpush/rpush/blob/master/.travis.yml#L9-L14) and [Rails 6.1](https://github.com/rpush/rpush/blob/master/.travis.yml#L25-L29). Might you be willing to contribute that @deztrucktor ?

[2021-02-02 04:45] andreaslillebo commented on #585
Sure, I'll have a go at that (sorry, posted the issue from the wrong Github account).

[2021-02-12 11:31] CR4567 opened #588 "Support for FCM HTTP v1"
Hi,

are there plans to support the new HTTP V1 format of Google FCM?
It's google so you never know what will happen to the legacy HTTP version.

If I find some time, I will check how to integrate the authentication mechanism.
Changing URL and message body should be the easy part.

[2021-02-15 12:37] #584 closed

[2021-02-15 12:37] #585 closed

[2021-02-15 12:58] aried3r opened #589 "Drop Rails 5.0 and 5.1"
Rails 5.0.0 was released June 30, 2016.
Rails 5.1.0 was released April 27, 2017.

Only Rails 5.2 receives severe security updates as of now. https://guides.rubyonrails.org/maintenance_policy.html

I'm okay with maintaining 5.2 for a little while longer if effort doesn't become to high, but older Rails versions don't support newer Ruby versions and I'd like to keep the CI matrix simple.

I'm not go

[2021-02-15 13:00] aried3r commented on #588
I have the same thoughts regarding Google perhaps dropping legacy FCM at some point. However I don't have the time right now to implement the new format. But we're of course happy for any PR coming our way. :)

[2021-02-17 18:55] ebkcode opened #590 "DeviceTokenFormatValidator preventing notification save on iOS Apnsp8 app using Firebase Token"
**Describe the bug**
When trying to create/save a notification with an iOS Apnsp8 app, (Rpush::Apnsp8::App) the save fails due to a validation on the device_token from validate method in DeviceTokenFormatValidator. (The token provided is automatically generated from the Firebase SDK in an installed app on the device.)

**To Reproduce**
1) Write code to create/save a notification with an iOS Apnsp8

[2021-02-17 22:02] #590 closed

[2021-02-17 22:03] ebkcode commented on #590
Need APNSToken (hex string) instead of "Firebase Token"

[2021-02-24 19:50] gnumarcelo commented on #331
Hi, is this still an issue?

[2021-02-24 20:02] walidvb commented on #331
haven't looked at my logs in ages, happy to close and reopen if it comes up again for my part.

[2021-02-25 02:56] jeremiahlukus opened #591 "Strong Migrations Error"
When running the init db:migrate there are strong_migrations.

`rake aborted!                                                                                                                                 [5/1369]
StandardError: An error has occurred, this and all later migrations canceled:

=== Dangerous operation detected #strong_migrations ===

Adding a column with a non-null default blocks re

[2021-02-25 22:06] jeremiahlukus opened #592 "Unable to send notification through FCM"
**Describe the bug**
FCM notifications are not being sent

**To Reproduce**
Steps to reproduce the behavior:
Used readme example
https://github.com/rpush/rpush#firebase-cloud-messaging

**Expected behavior**
Send a notification

**Additional context**
rails -v
Rails 6.1.3

ruby -v
ruby 2.7.2

I am able to curl `https://fcm.googleapis.com/fcm/send` and see my notification so i know my key is correc

[2021-02-25 22:08] jeremiahlukus commented on #592
Notification record

[code]

[2021-02-25 22:09] jeremiahlukus commented on #592
App is

[code]

[2021-02-25 22:10] #591 closed

[2021-02-26 00:40] #592 closed

[2021-03-04 17:36] jose-airspace opened #594 "HTTP/2‑based Apple Push Notification service"
Apple sent me the following today:

Is this currently available in the gem? I don't see any mention of people able to use the JSON web token. The reason I really want to use this new way though is for the improved error messaging and per-notification feedback.

Link to the docs:
https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification

[2021-03-04 17:56] benlangfeld commented on #594
Yes it's available and documented: https://github.com/rpush/rpush#apple-push-notification-service

See also https://github.com/rpush/rpush/issues/568

[2021-03-04 17:56] #594 closed

[2021-03-09 01:06] Menghongli commented on #592
Hi @jeremiahlukus,

Did you solve your issue? If so, would you mind post a few comments on what was the issue and how did you fix it?

[2021-03-09 01:46] jeremiahlukus commented on #592
In my cause I needed to do Rpush.push after its created ha. @Menghongli

[2021-03-09 01:47] jeremiahlukus commented on #592
So I’m doing this

`

Device.all.each do |device|
          n = Rpush::Gcm::Notification.new
          # use the pushme_droid app we previously registered in our initializer file to send the notification
          n.app = Rpush::Gcm::App.find_by_name("how-to-think")
          n.registration_ids = [device.token]
          n.data = {message: "hi mom!"}
          n.notification = {
            body:

[2021-03-09 01:49] jeremiahlukus commented on #592
I have a table in my dB called Device which has a device ID and references user. Hopefully this helps

[2021-03-09 02:49] Menghongli commented on #592
oh cool, thanks

I am also interested in the `click_action` part, did you get it working as well?

Does it belongs to the notification payload or the data payload?

[2021-03-15 10:03] shved270189 opened #598 "Silent/Background notifications don't work for P8 and Apns2"
Silent/Background notification works fine for legacy Apns provider. After update to P8 or Apns2 Silent/Background notifications don't work. I checked apple documentation: https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/pushing_background_updates_to_your_app#2980040 about background notifications APNs server requires the apns-push-type field when

[2021-03-15 14:05] #589 closed

[2021-03-15 14:06] benlangfeld commented on #598
Fix merged in #596

[2021-03-15 14:08] benlangfeld commented on #598
Once we merge a solution to https://github.com/rpush/rpush/issues/568 we can cut v6.0.0 with this fix in it.

[2021-03-15 14:22] aried3r commented on #568
Seems like Apple is in fact going through with this, as per https://developer.apple.com/news/?id=uzyxiriy. So I am okay with having a 6.0.0 ready without the legacy protocol even before that date.

We _could_ cut a release with the fix for #598 before. Or is there a reason this cannot be released in a bugfix release for v5?

[2021-03-18 12:12] aried3r commented on #598
I want to reference this comment https://github.com/rpush/rpush/pull/596#issuecomment-799454563 here since we might need to change a few things in order for this to ship in 6.0. But I'd need some help from someone who uses APNs.

[2021-03-29 17:36] jhottenstein opened #603 "Rpush calls a deprecated ruby method"
Rpush uses a deprecated ruby method Object#=~.  This does not yet cause any issues (the method returns nil which results in the correct behavior) but does spam the logs if you have ruby deprecation warnings turned on.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup rpush daemon with more than one app connection
2. start server with ruby deprecation warnings enabled: `RUBYOPT='-W:deprec

[2021-03-29 18:47] benlangfeld commented on #603
Duplicate of https://github.com/rpush/rpush/pull/602.

[2021-03-29 18:47] #603 closed

[2021-04-01 21:15] jose-airspace opened #604 "apnsp8 still uses apns feedback"
I am getting the exact issue described in the following thread: https://developer.apple.com/forums/thread/86415
When I switched to apnsp8 I do not get immediate errors but if I call for feedback, I see the errors. I'm thinking we need to include `apnsp8` in `next unless app.service_name == 'apns'` in `rpush-5.4.0/lib/rpush/apns_feedback.rb:9`?

[2021-04-12 23:19] diminish7 opened #606 "Rpush::Daemon::Apnsp8::Delivery leaves notifications permanently in "processing""
**Describe the bug**
In `Rpush::Daemon::Apnsp8::Delivery#prepare_async_post`, when `@first_push` is `false`, it calls `#delayed_push_async`, which checks for `#streams_available?` , and loops until that is `true`. `#streams_available?` checks that `#remote_max_concurrent_streams` is greater than the current stream count. But, `#remote_max_concurrent_streams` has a branch that says, if `@client.rem

[2021-04-13 15:46] favrik opened #607 "Errno::ECONNRESET, Connection reset by peer after a few minutes when using apns2"
Hello!,

have you seen anything like this before?  I've searched through the issues, and the ones that are similar are marked as "Stale".

**Describe the bug**
We recently switched to rpush 5.0.0 in order to use **apns2** due to the binary protocol coming to end of life.  I'm not sure if this is a bug, but we are getting the following error between successful IOS push notifications:
[code]

**To R

[2021-04-13 16:09] aried3r commented on #607
Hey @favrik! Sadly I am not a user of the APNs part of the code base, so I'm afraid I cannot directly help out. But since version 5.0.0 that you are using there have been quite some APNs fixes, see the [CHANGELOG.md](https://github.com/rpush/rpush/blob/master/CHANGELOG.md) for more details as well as the [commits since the last release](https://github.com/rpush/rpush/compare/v5.4.0...master).

It

[2021-04-13 16:21] favrik commented on #607
Thank you @aried3r !

Just remembered we tested up to 5.2.0, but will test with latest version, and see if I'm able to reproduce.

[2021-04-13 16:51] aried3r commented on #606
Hey @diminish7, thanks for the bug report! Do you think you could send a PR with these changes and a spec to verify? You seem to have a good understanding of the bug already and I'd love to see a spec that fails with the current behavior.

Although, it might not benefit you directly as the current release of Rpush does not support Rails 4.2 anymore.

[2021-04-13 16:59] diminish7 commented on #606
Hey @aried3r , yeah sure thing. I'm not sure what to do for the default max concurrent streams. In my local monkey patch, I'm using 100. Thoughts?

[2021-04-13 17:10] aried3r commented on #606
Would it be okay if we explore this particular value in the context of the PR? Then some other maintainers that actively use APNs (I don't) can also chime in. For me, a failing test that is made green via your fix would be key, if possible. The APNs code has received many fixes in the last weeks and I'd just love to make sure we don't break anything and document faulty behavior has been corrected.

[2021-04-13 22:37] diminish7 commented on #606
@aried3r FYI: I pushed a PR (#608). Thanks!

[2021-04-19 15:19] Sohair63 commented on #590
@ebkcode can you confirm if this is what we can convert using firebase token?

[2021-04-19 22:15] ebkcode commented on #590
@Sohair63 - I'm not sure exactly what you're asking, but I can confirm that to use the Apnsp8 Rpush API, one must pass in the APNSToken (hex string) from their iOS app, rather than the Firebase Token which is used for the FCM/GCM Android Rpush implementation.

The example documentation in the README does note this with a comment, as shown, but it's not clearly noted which "token" to use: `n.device

[2021-04-21 13:12] CR4567 commented on #607
this is a duplicate of #538
Right now, there is no fix for this problem.

[2021-04-21 14:58] benlangfeld commented on #607
@favrik Are you able to confirm that your experience is compatible with the theories in #538 regarding multiple pushes to the same device?

[2021-04-21 17:07] favrik commented on #607
Hi @CR4567 and @benlangfeld !

the experience has been similar, in the sense that a notification can fail for a device that was successful previously, or is successful afterwards.

However, I'm not sure how the longer stack trace at #538 was produced (I might ask on the issue later).

We could close as duplicate, the main difference I'm seeing is that I'm able to reproduce every time, seems the cu

[2021-04-22 10:43] aried3r commented on #598
Hey @shved270189, @rpush/maintainers. I'd love to release v6 of rpush soon and for this I'd love to see the questions I had in #596 addressed if possible. I assume APNs would still work without these fixes, but I'd be nice if someone who actively uses APNs and maybe has a bit more insight could have a look.

Thanks!

[2021-04-26 09:57] #606 closed

[2021-04-27 07:34] Sohair63 commented on #418
@Ritesh-Katare  did you get this fixed? I am also getting the same.

I am using `Rpush::Apns2::Notification` with `Rpush::Apns2::App`

When **environment: "sandbox"**
[code]

When **environment: "production"**
[code]

Any suggestion that where I am doing it wrong?

[2021-05-06 17:22] aried3r commented on #568
I'm in the process of cutting a 6.0 release. If anyone wants to tackle this and maybe have a look at #601 before that I'd really appreciate it :)

I think @gregblake already reviewed #601, but if anyone wants to have another look, feel free to!

[2021-05-06 17:56] benlangfeld commented on #568
@aried3r I'll see if I can knock this out today.

[2021-05-12 17:22] mirkode commented on #588
I would definitely try and help, but don't really know where to start.
I think it should be working by using `googleauth`, but I am not sure what the best way would be to pass in the secrets.json and the project_id for the new way of authentication.

As far as I can see the only part that would need to change is in the `gcm/delivery.rb` no?

Maybe do something like this?

[code]

Oh and the URI wo

[2021-05-12 17:25] mirkode commented on #588
Because I unfortunately cannot use `rpush` anymore since I only get a `401` and cannot re-generate a legacy token anymore.

[2021-05-18 15:05] max-did-it commented on #331
Have the same issue with FCM.

[2021-05-19 09:53] mirkode commented on #588
Forked this gem [here](https://github.com/mirkode/rpush) and managed to get it working with FCM.

Will try and clean it up in the next couple of days, but unsure if it is good enough for a PR. At least it is working :-)

[2021-05-19 12:20] mhenrixon opened #616 "[Request] - Metrics integration"
Hi,

I have a request for some guidance on how to expose metrics from RPush. I am currently in the process of exposing metrics in a project using https://github.com/discourse/prometheus_exporter. For Sidekiq, Rails and Puma there are ways of exposing metrics using that gem.

Can I achieve the same thing for RPush somehow? I am happy to supply a patch should I be able to figure it out. I still have

[2021-05-21 12:14] #526 closed

[2021-05-21 12:18] aried3r commented on #616
Hey! We're not currently exposing anything for metrics. Or rather, nothing that I am aware of.

Would you be looking to use `ActiveSupport::Notifications` for this?

[2021-05-21 12:20] aried3r commented on #598
I have released a version 6.0.0 which contains the fix from #596 but I'm leaving this open for now.

[2021-05-21 12:23] ileitch commented on #616
The reflection api can be used to export events, checkout the statsd plugin as an example: https://github.com/rpush/rpush-plugin-statsd

[2021-05-21 12:54] mhenrixon commented on #616
That is exactly what I was looking for @ileitch, I can use that to figure out the necessary metrics for prometheus. I also saw the https://github.com/rpush/rpush-plugin-bugsnag. I can do the same for integrating honeybadger.

Great stuff!

[2021-05-21 12:59] aried3r commented on #616
Completely forgot about plugins. Thanks for keeping an eye on the issues here @ileitch!

I'll be closing this issue then. :)

[2021-05-21 12:59] #616 closed

[2021-06-15 16:44] maxsz commented on #616
I created a simple plugin that does just that: https://github.com/equinux/rpush-plugin-prometheus-exporter
@aried3r should we list it in the readme?

[2021-06-16 08:25] aried3r commented on #616
Hey @maxsz! Sounds good to me. Could you send a PR? Ideally we'd list this one as a third party plugin.

[2021-06-16 08:39] maxsz commented on #616
Sure: https://github.com/rpush/rpush/pull/617

[2021-06-21 14:22] edmondchui commented on #607
I experience this issue but it mostly appeared when during the off-peak hours when my Rpush server is idle. During peak time, I'm sending tens of thousands of notifications to Apnd2 over 256 connections. When I increase the number of connections to Apns2 to 512 I saw that happened more. Based on these observations, I suspect Apple is closing the socket on the Apn2 without explicitly telling the de

[2021-07-07 10:17] wolak88 opened #619 "FCM deep linking to URLs"
**Describe the bug**
I can't find a way to send appropriate body to fcm push notifications to get linking to particular URL working. I'm missing:
[code]
Here is the documentation:
https://firebase.google.com/docs/cloud-messaging/js/receive#setting_notification_options_in_the_send_request

**To Reproduce**
Create any notification and try to use notification to move to some part of your application.

[2021-07-07 12:02] aried3r commented on #619
Hey @wolak88! Rpush sadly doesn't yet support the current FCM protocol, see also #588.

It _does_ support the old, legacy HTTP protocol. You can find the documentation [here](https://firebase.google.com/docs/cloud-messaging/http-server-ref#notification-payload-support)

In *Table 2c* on that page you can find the available payloads. They are, as of writing:

| Parameter      | Usage            | D

[2021-07-07 12:35] wolak88 commented on #588
@mirkode
Are you willing to create a PR from your fork? I can put some time and clean it up.

@aried3r
Do you have some time to review this code and show the places where it needs some work?

[2021-07-07 15:10] aried3r commented on #588
I'm a bit short on time, but there's also other maintainers that maybe can chip in. I definitely welcome contributions, but I'd ask you to add some tests for it as well.

I'd love to discuss this in a PR. Especially how we'd handle all the new fields of the current FCM protocol. I.e. should these be database columns or "just" catch-all serialized hashes/JSON(B) columns or something else altogether

[2021-07-07 19:03] mirkode commented on #588
@wolak88
Sure! There you go: [PR](https://github.com/rpush/rpush/pull/620)
I can also help, if you could instruct me a little. But that might be more complicated in the end?

Anyway, thanks for getting back to me!

@aried3r
Thanks for the feedback. I was also thinking about if it would make sense to store it in the `rpush_apps` database table, since there are fields for `client_id` and a (in this

[2021-07-08 02:24] #471 closed

[2021-07-26 16:42] wolak88 opened #621 "Rpush can't find app with id"
**Describe the bug**
In production when creating new notifications for one of the apps (iOS) I get:
```[ERROR] ActiveRecord::RecordNotFound, Couldn't find Rpush::Client::ActiveRecord::App with 'id'=3```

**Logs and other output**
[code]

**Additional context**
I'm using dockerized app with kubernetes. I have special pod for Rpush which is running in foreground. I have deleted initial iOS app that